{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {% block head %} {% include "theme/ifrn23/layouts/partials/head.html" %} {% endblock head %}
    </head>

    <body>
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-10">
                        <div class="wrap d-md-flex">
                            <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
                                <div class="text w-100">
                                    <div class="row display-on">
                                        <div class="col-md-12">
                                            <img alt="Logo do IFRN" src="{% static 'theme/ifrn23/img/ifrnMarca.svg' %}" />
                                        </div>
                                        <div class="col-md-5"><hr class="hr-withe-finn" /></div>
                                        <div class="col-md-1">ou</div>
                                        <div class="col-md-5"><hr class="hr-withe-finn" /></div>
                                        <div class="col-md-12 pt-3">
                                            <a href="{{ suap_url }}" class="btn btn-success button-personalizado"
                                                ><img
                                                    class="img-suap"
                                                    alt="Logo do SUAP"
                                                    src="{% static 'theme/ifrn23/img/suap.svg' %}"
                                                />
                                                Fazer login com SUAP</a
                                            >
                                        </div>
                                        <div class="col-md-12 pt-3">
                                            <button class="btn btn-success button-personalizado">
                                                <i class="fab fa-google icone-personalizado" aria-hidden="true"></i>
                                                Fazer login com Google
                                            </button>
                                        </div>
                                        <div class="col-md-12 pt-3">
                                            <button class="btn btn-success button-personalizado">
                                                <i class="fab fa-facebook icone-personalizado" aria-hidden="true"></i>
                                                Fazer login com Facebook
                                            </button>
                                        </div>
                                        <div class="col-md-12 pt-3">
                                            <button class="btn btn-success button-personalizado">
                                                <i class="fab fa-microsoft icone-personalizado" aria-hidden="true"></i>
                                                Fazer login com Mirosoft
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="login-wrap p-4 p-lg-5">
                                <div class="text-left">
                                    <div class="w-100">
                                        <h3 class="mb-4 font-weight-bold" style="color: #183515">
                                            Plataformas AVA do IFRN
                                        </h3>
                                    </div>
                                </div>
                                <form action="#" class="signin-form">
                                    <div class="form-group mb-3">
                                        <div class="label-float">
                                            <input type="text" placeholder="teste" /><label>IFRN-id (matrícula)</label>
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <div class="label-float">
                                            <input type="password" placeholder="teste" /><label>Senha</label>
                                        </div>
                                    </div>
                                    <div class="form-group d-md-flex margin-bottom-0">
                                        <button
                                            type="submit"
                                            class="form-control btn btn-primary submit px-3 font-weight-bold"
                                        >
                                            ACESSAR O MOODLE
                                        </button>
                                    </div>
                                    <div class="form-group margin-bottom-0">
                                        <div class="label-float text-center">
                                            <a href="#" class="text-green">Esqueceu sua senha SUAP?</a>
                                        </div>
                                    </div>

                                    <div class="row display-off">
                                        <div class="col-md-12">
                                            <img alt="100%x280" src="{% static 'theme/ifrn23/img/ifrnMarca.svg' %}" />
                                        </div>
                                        <div class="col-5 col-md-5"><hr class="hr-withe-finn" /></div>
                                        <div class="col-1 col-md-1">ou</div>
                                        <div class="col-5 col-md-5"><hr class="hr-withe-finn" /></div>
                                        <div class="col-md-12 pt-3">
                                            <a href="{{ suap_url }}" class="btn btn-success button-personalizado"
                                                ><img
                                                    class="img-suap"
                                                    alt="100%x280"
                                                    src="{% static 'theme/ifrn23/img/suapMobile.svg'%}"
                                                />
                                                Fazer login com SUAP</a
                                            >
                                        </div>
                                        <div class="col-md-12 pt-3">
                                            <button class="btn btn-success button-personalizado">
                                                <i class="fab fa-google icone-personalizado" aria-hidden="true"></i>
                                                Fazer login com Google
                                            </button>
                                        </div>
                                        <div class="col-md-12 pt-3">
                                            <button class="btn btn-success button-personalizado">
                                                <i class="fab fa-facebook icone-personalizado" aria-hidden="true"></i>
                                                Fazer login com Facebook
                                            </button>
                                        </div>
                                        <div class="col-md-12 pt-3">
                                            <button class="btn btn-success button-personalizado">
                                                <i class="fab fa-microsoft icone-personalizado" aria-hidden="true"></i>
                                                Fazer login com Mirosoft
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% block foot_pre %}{% include "theme/ifrn23/layouts/partials/foot_pre.html" %}{% endblock foot_pre %}

        {% block foot_custom %}
        <script>
            var screensize = document.documentElement.clientWidth;
            if (screensize >= 320 && screensize <= 740) {
                $(".display-on").hide();
                $(".display-off").show();
            } else {
                $(".display-on").show();
                $(".display-off").hide();
            }

            $(window).on("resize", function () {
                var screensize = document.documentElement.clientWidth;
                if (screensize >= 320 && screensize <= 740) {
                    $(".display-on").hide();
                    $(".display-off").show();
                } else {
                    $(".display-on").show();
                    $(".display-off").hide();
                }
            });
        </script>
        {% endblock foot_custom %}

        {% block foot_pos %} {% include "theme/ifrn23/layouts/partials/foot_pos.html" %} {% endblock foot_pos %}
    </body>
</html>
