{% extends "a4/base_error.html" %}

{% block page_title %}Usuário sem vínculo ativo e/ou sem foto{% endblock page_title %}

{% block content %}
    <p>
        Prezado tutor,
    </p>
    <p>
        Se você está vendo essa página então você provavel é um tutor e está sem vínculo ativo, para resolver isso:
    </p>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Sou um tutor</button>
    <button class="nav-link" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Não sou tutor</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <p>
        Para resolver a questão de vínculo inativo no SUAP, sugerimos que o <b>coordenador de curso</b> abra um
        chamado de <a href="https://suap.ifrn.edu.br/centralservicos/abrir_chamado/88/"
        >"alteração de expiração de conta"</a> para a TI do Campus ZL.
        Oriente ao seu coordenador de curso a informar ao menos:
    </p>
    <p>
        Exemplo de texto para o chamado:
    </p>
    <p style="background-color: #dee2e6; padding: 1em">
        Solicito a vinculação de <b>{{ common_name }}</b>, CPF <b>{{ username }}</b>, à ocupação de Tutor EAD.
        As informações para a vinculação são as seguintes:
        <br />
        <br /><b>Ocupação:</b> <span>Tutor EAD</span>
        <br /><b>Pessoa Jurídica:</b> Campus Avançado Natal Zona Leste (Ead) (75671517000101)
        <br /><b>Data de Início:</b> <span class="badge bg-secondary">01/01/2024</span>
        <br /><b>Data Final:</b> <span class="badge bg-secondary">31/12/2024</span>
        <br /><b>Setor SUAP:</b> <span class="badge bg-secondary">DIAC/ZL</span>
    </p>
  </div>
  <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <p>
        Como você é NÃO seja um <b>tutor</b>, solicite ao <b>Suporte AVA</b> que verifique sua situação abrindo um
        <a href="https://suap.ifrn.edu.br/centralservicos/abrir_chamado/408/">chamado no Suap</a>.
    </p>
  </div>
</div>
<div class="buttons">
    <a class="btn btn-primary" href='{% url "painel:dashboard" %}'>Tentar novamente</a>
</div>
{% endblock content %}

