footer {
    background-color: var(--header-color);
    padding: 20px 0px;
    width: 100%;

    #footer-wrapper {
        max-width: var(--page-max-width);
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16) /
            var(--unnamed-line-spacing-22) var(--unnamed-font-family-noto-sans);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--branco-primario);
        text-align: center;
        margin: auto;

        a {

            border-radius: var(--default-border-radius);
            border-color: var(--branco-primario);
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-14) /
                var(--unnamed-line-spacing-22) var(--unnamed-font-family-noto-sans);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--branco-primario);
            text-align: center;
            border-radius: 4px;
            padding: 5px 15px;


            &:hover {
                color: var(--verde-secundario) 0% 0% no-repeat padding-box;
            }
        }

        p {
            margin: 0 auto;
            padding: 0;
            text-align: center;
        }

        .contact {
            text-align: center;
            margin: 10px;

            ul {
                list-style: none;
                margin: auto;
                width: fit-content;
                display: flex;

                li {
                    display: inline;

                    a {
                        color: var(--branco-primario);
                    }
                    &:hover {
                        background: var(--branco-primario);
                        border-radius: var(--default-border-radius);
                    }
                }

                span {
                    margin-top: 5px;
                }
            }

            i.fa,
            i.fa:hover {
                font-size: 1.3rem;
                min-width: 19px;
            }
        }

        #footer-buttons {
            display: flex !important;
            margin-top: 10px;
            justify-content: center;
            gap: 10px;

            p {
                display: contents !important;
                width: 167px;

                &:hover {
                    transform: none !important;
                    transition: none !important;
                }

                a {
                    border: none !important;
                    background-color: var(--verde-botao);
                    color: var(--branco-primario) !important;
                    
                    border-radius: 3px;

                    &:hover {
                        transform: none !important;
                        background-color: var(--verde-secundario);
                    }

                    svg {
                        vertical-align: baseline;
                        margin-right: 5px;
                    }
                }
            }
        }

        hr {
            width: 90%;
            margin: 24px auto;
            border: 1px solid var(--cinza-terciario);
        }

        .desktop-only a {
            color: var(--branco-primario);
            text-decoration: none;
            padding: 0px;
            &:hover {                   
                color: var(--verde-secundario);
            }
        }
    }
}

#UserWayDiv{
    position: fixed;
    right: 1px;
    top: 32%;
    transform: translateY(calc(-38% + -15px));
    padding: 6px;
    background-color: #2873de;
    border-radius: 10px;
    height: 40px;
    cursor: pointer;
    z-index: 99;
}


div[vw].enabled {
    right: -8px !important;
    top: 32% !important;
    transform: translateY(calc(-38% - -20px)) !important;
    z-index: 21474836 !important;
}

@import "4-footer/1-mobile";