{% load static %}
<footer>
    <div id="footer-wrapper">
        <div id="footer-buttons">
            <p>
                <a href="https://ead.ifrn.edu.br/portal/" target="blank">Portal IFRN-ZL</a>
            </p>
            <p>
                <a href="https://ead.ifrn.edu.br/ajuda/category/ambiente_virtual/" target="blank" >

                    <svg xmlns="http://www.w3.org/2000/svg" width="16.023" height="14.224" viewBox="0 0 16.023 14.224">
                        <g transform="translate(-4.6 -7.42)">
                            <path
                                id="Caminho_1059"
                                data-name="Caminho 1059"
                                d="M23.274,7.427H21.306a.126.126,0,0,0-.126.126V8.58a.126.126,0,0,0,.126.126h1.968a1,1,0,0,1,1,1v3.352a.126.126,0,0,0,.126.126h1.026a.126.126,0,0,0,.126-.126V9.7A2.284,2.284,0,0,0,23.267,7.42Z"
                                transform="translate(-4.928)"
                                fill="#fff"
                            />
                            <path
                                id="Caminho_1060"
                                data-name="Caminho 1060"
                                d="M20.49,15.3H19.471a.133.133,0,0,0-.134.134v1.012a1,1,0,0,1-1,1H6.814a.934.934,0,0,1-.935-.935V9.388a.682.682,0,0,1,.682-.682l2.073.014a.129.129,0,0,0,.134-.134V7.554a.133.133,0,0,0-.134-.134H6.694A2.1,2.1,0,0,0,4.6,9.514V16.5A2.216,2.216,0,0,0,6.821,18.72h5.151v1.637H9.027a.144.144,0,0,0-.148.148V21.5a.144.144,0,0,0,.148.148H16.2a.144.144,0,0,0,.148-.148v-.991a.144.144,0,0,0-.148-.148H13.251V18.72h5.088a2.284,2.284,0,0,0,2.284-2.284V15.424a.133.133,0,0,0-.134-.134Z"
                                transform="translate(0 0)"
                                fill="#fff"
                            />
                            <g id="Grupo_715" data-name="Grupo 715" transform="translate(10.343 7.561)">
                                <path
                                    id="Caminho_1061"
                                    data-name="Caminho 1061"
                                    d="M13.235,9.37a.135.135,0,0,0,.183.063,4.236,4.236,0,0,1,.689-.316,2.191,2.191,0,0,1,.787-.141.985.985,0,0,1,.647.19.7.7,0,0,1,.225.562,1.141,1.141,0,0,1-.084.45,1.439,1.439,0,0,1-.26.4,5.162,5.162,0,0,1-.478.457,3.669,3.669,0,0,0-.52.541,1.659,1.659,0,0,0-.281.555,2.46,2.46,0,0,0-.084.675v.288a.133.133,0,0,0,.134.134H15.28a.133.133,0,0,0,.134-.134v-.169a1.279,1.279,0,0,1,.049-.394.943.943,0,0,1,.2-.344,4.8,4.8,0,0,1,.457-.436,6.331,6.331,0,0,0,.654-.64,2.108,2.108,0,0,0,.394-.654,2.484,2.484,0,0,0,.134-.836,1.891,1.891,0,0,0-.59-1.455,2.414,2.414,0,0,0-1.7-.548,3.9,3.9,0,0,0-1.195.183,4.948,4.948,0,0,0-.984.45.135.135,0,0,0-.049.169l.45.956Z"
                                    transform="translate(-12.772 -7.62)"
                                    fill="#fff"
                                />
                                <path
                                    id="Caminho_1062"
                                    data-name="Caminho 1062"
                                    d="M15.889,17.135a.983.983,0,0,0-.668-.225,1.021,1.021,0,0,0-.682.225.919.919,0,0,0-.26.717.891.891,0,0,0,.267.71.984.984,0,0,0,.675.232.935.935,0,0,0,.661-.232.9.9,0,0,0,.26-.71.931.931,0,0,0-.26-.724Z"
                                    transform="translate(-13.22 -10.381)"
                                    fill="#fff"
                                />
                            </g>
                        </g>
                    </svg>


                    Central de ajuda</a
                >
            </p>
        </div>
        <hr />
        <p>Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Norte</p>
        <p>Campus Natal-Zona Leste</p>
        <p>© 2022 (v{{ app_version }}). {{ hostname }}. Todos os direitos reservados.</p>
        <p class="desktop-only">
            Endereço – Av. Sen. Salgado Filho, 1559 – Tirol, Natal – RN, CEP: 59015-000
        </p>
        <p class="desktop-only">
            <a href="https://ead.ifrn.edu.br/ajuda/agenda-telefonica-2022-campus-natal-zona-leste/">Contatos</a> – (84) 3092-8900 | (84) 3092-8902
        </p>
        {% comment %}
        <div class="copyright">
            <div class="madeby">
                <div class="contact">
                    <ul>
                        <li>
                            <a
                                href="https://bit.ly/3AhVtkh"
                                target="_blank"
                                class="website btn btn-link"
                                aria-label="Veja nossas novidades no site de nosso campus"
                                ><i class="fa fa-globe"></i
                            ></a>
                        </li>
                        <li>
                            <a
                                href="tel:+55 (84) 3092-8900"
                                target="_blank"
                                class="mobile btn btn-link"
                                aria-label="Fale conosco por nosso telefone"
                                ><i class="fa fa-phone"></i
                            ></a>
                        </li>
                        <li>
                            <a
                                href="mailto:cte.ead@ifrn.edu.br"
                                target="_blank"
                                class="mail btn btn-link"
                                aria-label="Fale conosco por nosso e-mail"
                                ><i class="fa fa-envelope"></i
                            ></a>
                        </li>
                        <li>
                            <a
                                href="https://api.whatsapp.com/send?phone=+55 (84) 3092-8900"
                                target="_blank"
                                class="whatsapp btn btn-link btn-rounded"
                                aria-label="Fale conosco no Whatsapp"
                                ><i class="fa fa-whatsapp"></i
                            ></a>
                        </li>
                        <li>
                            <a
                                href="+55 (84) 3092-8900"
                                target="_blank"
                                class="telegram btn btn-link btn-rounded"
                                aria-label="Fale conosco no Telegram"
                                ><i class="fa fa-telegram"></i
                            ></a>
                        </li>
                        <span>|</span>
                        <li>
                            <a
                                href="https://bit.ly/3GL0KEi"
                                target="_blank"
                                class="linkedin btn btn-link btn-rounded"
                                aria-label="Nos siga no Linkedin"
                                ><i class="fa fa-linkedin"></i
                            ></a>
                        </li>
                        <li>
                            <a
                                href="https://bit.ly/41LpTHl"
                                target="_blank"
                                class="youtube btn btn-link btn-rounded"
                                aria-label="Nos siga no Youtube"
                                ><i class="fa fa-youtube"></i
                            ></a>
                        </li>
                        <li>
                            <a
                                href="https://www.instagram.com/ifrnzonaleste/"
                                target="_blank"
                                class="instagram btn btn-link btn-rounded"
                                aria-label="Nos siga no Instagram"
                                ><i class="fa fa-instagram"></i
                            ></a>
                        </li>
                        <li>
                            <a
                                href="https://www.facebook.com/ifrnzonaleste"
                                target="_blank"
                                class="facebook btn btn-link btn-rounded"
                                aria-label="Nos siga no Facebook"
                                ><i class="fa fa-facebook"></i
                            ></a>
                        </li>
                        <li>
                            <a
                                href="https://twitter.com/IFRNCampusEaD"
                                target="_blank"
                                class="twitter btn btn-link btn-rounded"
                                aria-label="Nos siga no Twitter"
                                ><i class="fa fa-twitter"></i
                            ></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endcomment %}
        {% comment %}
        <div class="copyright">
            <div class="madeby">
                <p>
                    A versão {{ app_version }}
                    <a href="https://github.com/cte-zl-ifrn/painel__ava">deste painel</a>
                    foi desenvolvido como
                    <br />
                    software open source pela <a href="https://github.com/cte-ead">ASTE/DEAD/ZL/IFRN</a>.
                </p>
            </div>
        </div>
        {% endcomment %}
    </div>
</footer>
