<div class="dropdown" id="header-user">
    <button class="btn btn-secondary dropdown-toggle btn-dropdown-user"
            type="button"
            id="header-user-dropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            aria-label="Menu usuário">
        <img width="56" height="56" src="{{ logged_user.foto_url }}" alt="Minha foto" />
        <span class="user_name">{{ logged_user.show_name }}</span>
    </button>
    <ul class="dropdown-menu dropdown-user"
        aria-labelledby="header-user-dropdown">
        <li>
            <span>
                <h6 class="dropdown-header">{{ logged_user.show_name }}</h6>
            </span>
        </li>
        <li>
            <a class="dropdown-item"
                href="https://suap.ifrn.edu.br/comum/minha_conta/">Perfil no SUAP</a>
        </li>
        <li class="mobile-only">
            <h6 class="dropdown-header">Listagem</h6>
        </li>
        <li>
            <a class="dropdown-item" href="https://aberto.ava.ifrn.edu.br">AVA Aberto</a>
        </li>
        <div class="mobile-only">
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <h6 class="dropdown-header">Centrais de atendimento</h6>
            </li>
            <li>
                <a class="dropdown-item ajuda-moodle"
                    target="_blank"
                    href="https://bit.ly/3odPfis">Ajuda sobre assuntos acadêmicos</a>
            </li>
            <li>
                <a class="dropdown-item ajuda-moodle"
                    target="_blank"
                    href="https://bit.ly/3KXiQEH">Ajuda sobre o SUAP</a>
            </li>
            <li>
                <a class="dropdown-item ajuda-moodle"
                    target="_blank"
                    href="https://bit.ly/41734xv">Ajuda sobre um AVA</a>
            </li>
            <li>
                <a class="dropdown-item ajuda-moodle"
                    target="_blank"
                    href="https://bit.ly/3KXQHyq">Ir para a Central de Ajuda</a>
            </li>
            <li>
                <a class="dropdown-item ajuda-moodle"
                    target="_blank"
                    href="https://bit.ly/3o8Fwd7">Falar com a Ouvidoria</a>
            </li>
            <li>
                <a class="dropdown-item ajuda-moodle"
                    target="_blank"
                    href="https://bit.ly/40aQDzN">Ver lista de contatos</a>
            </li>
        </div>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <span>
                <h6 class="dropdown-header">Tema</h6>
            </span>
        </li>
        <li>
            {% for addedTheme in added_themes %}
                {% if user.theme_selected == addedTheme.theme.nome %}
                    <a class="dropdown-item"><strong>{{addedTheme.theme.apelido}}</strong></a>
                {% else %}
                    <a class="dropdown-item" href="{% url "painel:change_theme" theme=addedTheme.theme.nome %}">{{addedTheme.theme.apelido}}</a>
                {% endif %}
            {% endfor %}
        </li>
        {% if personificando %}
            <li>
                <a class="dropdown-item" href="{% url 'a4:despersonificar' %}">Voltar a ser {{ user.show_name }}</a>
            </li>
        {% else %}
            {% if user.is_superuser %}
                <li>
                    <span>
                        <h6 class="dropdown-header">Admins</h6>
                    </span>
                </li>
                {% if admins %}
                    {% for ava in admins  %}
                        <li style='border-left: 8px solid {{ ava.cor_mestra }};'>
                            <a class="dropdown-item" href="{{ ava.url }}">{{ ava.nome }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
                <li style="border-left: 8px solid #000;">
                    <a class="dropdown-item"  href="{% url 'admin:index' %}">Painel AVA</a>
                </li>
            {% endif %}
        {% endif %}
        <li>
            <a class="dropdown-item" href="{% url 'a4:logout' %}">Sair</a>
        </li>
    </ul>
</div>
