<div id="header-ajuda" class="dropdown">
    <button class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuSuporte"
            data-bs-toggle="dropdown"
            aria-expanded="false">Centrais de Atendimento</button>
    <ul class="dropdown-menu"
        aria-labelledby="dropdownMenuSuporte">
        <li>
            <h6 class="dropdown-header">Centrais de Atendimento</h6>
        </li>
        <li>
            <a class="dropdown-item" target="_blank" href="https://bit.ly/3odPfis">Secretaria acadêmica</a>
        </li>
        <li>
            <a class="dropdown-item" target="_blank" href="https://bit.ly/3KXiQEH">Central de serviço SUAP</a>
        </li>
        <li>
            <a class="dropdown-item" target="_blank" href="https://bit.ly/41734xv">AVA (Moodle)</a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <a class="dropdown-item" target="_blank" href="https://bit.ly/3KXQHyq">Central de ajuda</a>
        </li>
        <li>
            <a class="dropdown-item" target="_blank" href="https://bit.ly/3o8Fwd7">Ouvidoria</a>
        </li>
        <li>
            <a class="dropdown-item" target="_blank" href="https://bit.ly/40aQDzN">Contatos</a>
        </li>
    </ul>
</div>
