<div id="region-notifications">
    <div class="dropdown">
        <i id="dropdownMenuNotifications"
            data-bs-toggle="dropdown"
            class="icon fa fa-bell-o fa-fw"
            title="messagen drawer"
            role="img"
            aria-label="messagen drawer"></i><span v-if="unread_notification_total > -1"  class="icon-count">[[unread_notification_total]]</span>
        <ul class="dropdown-menu" id="menu-notifications"
            aria-labelledby="dropdownMenuNotifications">
            <li>
                <h2>NOTIFICAÇÕES</h2>
            </li>
            <li v-for='atualizacao in atualizacoes'>
                <a class="dropdown-item ambientes-list"
                    v-bind:style="{ 'border-left': '8px solid ' + atualizacao.ambiente.cor_mestra }"
                    v-bind:href="[[atualizacao.ambiente.conversations_url]]">[[atualizacao.ambiente.titulo]]<span>[[atualizacao.unread_popup_notification_count]]</span></a>
            </li>
            <li>
                <a class="dropdown-item" id="notifications-count">Total de [[unread_notification_total]] mensagens.</a>
            </li>
        </ul>
    </div>
</div>
