#app {
    #content-container {
        margin-left: 255px;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        &.expanded {
            margin-left: 60px;
            transition: margin-left 0.3s, width 0.3s;
        }

        .topbar {
            height: 61px;
            background: var(--branco-primario);
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 16px;
            margin: 16px;
            padding: 16px;
            display: flex;
            flex-direction: column;
            align-items: start;

            .nav-link {
                font: normal normal bold 16px/22px Noto Sans;
                color: var(--verde-tema);
                margin-right: 40px;
                cursor: pointer;
                padding: 0px !important;

                &.active {
                    color: var(--escuro-primario);
                    border-bottom: 2px solid var(--verde-tema);
                }
            }

            .nav-line {
                width: 100%;
                height: 1px;
                background: var(--cinza-primario);
            }
        }

        .content {
            flex: 1;
            min-height: 0;
            display: flex;
            overflow: hidden;
            background-color: var(--branco-secundario);
            gap: 15px;

            .sidebar-modal.open ~ .tab-content {
                padding-left: 0;
            }

            .sidebar-modal {
                height: 100%;
                overflow-x: hidden;
                width: 0;
                transition: width 0.2s ease-in;
                z-index: 50;
                height: 95%;
                background: var(--background-color) 0% 0% no-repeat padding-box;
                box-shadow: 3px 3px 6px #00000029;
                border-radius: 0px 16px 16px 0px;
                opacity: 1;
                display: flex;
                
                &.open {
                    width: 294px;
                }

                .modal-content {
                    min-width: 294px;
                    height: 100%;
                    padding: 1rem;
                    color: var(--dark);

                    .modal-content-header {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 1rem;

                        .modal-content-header-title {
                            display: flex;
                            flex-wrap: nowrap;
                            gap: .5rem;
                            align-items: center;
                              
                            span {
                                font: var(--font-heading2);
                                white-space: nowrap;
                            }
                        }

                        .modal-content-header-icon-x {
                            cursor: pointer;
                            color: var(--danger-dark);
                            width: 24px;
                            height: 24px;
                            background: var(--danger-light);
                            opacity: 1;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: all 0.2s ease-out;

                            &:hover {
                                background: var(--danger-dark);
                                color: var(--danger-light);
                            }

                        }

                        button {
                            border: none;
                            background: none;
                            cursor: pointer;
                        }

                        .modal-content-header-notifications, .modal-content-header-messages {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-left: 15px;

                            .modal-content-header-notifications-icon, .modal-content-header-messages-icon {
                                color: var(--escuro-primario) 0% 0% no-repeat padding-box;
                                background: #EBEBEB 0% 0% no-repeat padding-box;
                                opacity: 1;
                                cursor: pointer;
                                width: 24px;
                                height: 24px;
                                border-radius: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-left: 5px;
                            }
                        }
                    }

                    .modal-content-header-messages {
                        .splide {
                            padding: 8px !important;

                            &__track {
                                overflow: visible !important;
                                padding: 8px 0 !important;
                            }
                    
                            &__list {
                                gap: 8px;
                                margin: 0 -8px;
                                align-items: center;
                            }
                            
                            &__slide {
                                /* Reset de estilos do Splide */
                                width: auto !important;
                                height: auto !important;
                                margin: 0 !important;
                            }
                        }

                        .modal-content-header-messages-search-bar {
                            width: 262px;
                            height: 35px;
                            background: #EBEBEB 0% 0% no-repeat padding-box;
                            border-radius: 18px;
                            opacity: 1;
                            display: flex;
                            align-items: center;
                            justify-content: start;
                            padding: 0 16px;
                            margin-bottom: 16px;

                            .modal-content-header-messages-search-input {
                                width: 100%;
                                height: 100%;
                                background: none;
                                border: none;
                                padding-left: 16px;
                                font: normal normal 600 14px/19px Noto Sans;
                                letter-spacing: 0px;
                                color: var(--escuro-primario);
                                outline: none;
                            }
                        }
                    
                        .modal-content-header-messages-option {
                            background: #CEFDEF;
                            padding: 8px 12px;
                            border-radius: 16px;
                            cursor: pointer;
                            transition: all 0.2s ease-out;
                            width: max-content;
                            list-style: none;
                            border: none;
                            font: normal normal 600 12px/17px Noto Sans;
                            color: var(--verde-tema);
                            letter-spacing: 0px;
                            
                            &.active {
                                background: var(--verde-tema) !important;
                                color: white !important;
                            }
                        }
                    }

                    .modal-content-body {
                        height: 100%;
                        border-top: 1px solid #CCCCCC;
                        overflow-y: hidden;
                    }
                }
            }

            .tab-content {
                flex: 1;
                display: flex;
                flex-direction: column;
                min-width: 0;
                padding: 0 16px;

                .tab-pane {
                    flex: 1;
                    display: none;
                    flex-direction: column;
                    min-height: 0;
                    overflow: hidden;

                    .no-data {
                        display: flex;
                        justify-content: center;
                        align-items: start;
                        flex: 1;
                        font: normal normal 600 24px/22px Noto Sans;
                        /* color: var(--escuro-primario); */
                        color: var(--cinza-secundario);
                        letter-spacing: 0px;
                        opacity: 1;
                        margin-top: 30px;
                    }

                    &.active {
                        display: flex;
                    }

                    .card-container {
                        flex: 1;
                        min-height: 0;
                        overflow-y: auto;
                        padding: 16px 5px;

                        .card {
                            min-height: 100px;
                            max-height: 350px;
                            width: 100%;
                            margin-bottom: 1rem;
                            border: none;
                            transition: transform 0.2s;
                            display: flex;
                            flex-direction: column;
                            gap: 16px;
                            justify-content: space-between;
                            padding: 12px;
                            background: var(--branco-primario) 0% 0% no-repeat padding-box;
                            box-shadow: 0px 1px 6px #2B2B2B40;
                            border-radius: 8px;
                            opacity: 1;

                            &:hover {
                                transform: translateY(-2px);
                                box-shadow: 0 4px 12px rgba(0,0,0,0.1);
                            }

                            .painel-card-header {
                                display: flex;
                                justify-content: start;
                                align-items: center;

                                .painel-card-header-icon {
                                    background-color: var(--verde-claro);
                                    display: flex;
                                    width: fit-content;
                                    margin-right: 8px;
                                    padding: 5px;
                                    border-radius: 4px;

                                    i {
                                        width: 18px;
                                        height: 18px;
                                        margin: 2px 5px 0 0;
                                        color: #338F74;
                                    }
                                }
                            }

                            .painel-card-title {
                                font: normal normal 600 24px/22px Noto Sans;
                                color: var(--escuro-primario);
                                letter-spacing: 0px;
                                opacity: 1;
                                cursor: pointer;
                                width: fit-content;
                            }

                            .painel-card-details {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                .painel-card-details-progress {
                                    display: flex;
                                    justify-content: start;
                                    align-items: center;
                                    gap: 8px;
                                    
                                    .painel-progress-bar-container {
                                        background: #E3E3E3 0% 0% no-repeat padding-box;
                                        border-radius: 50px;
                                        opacity: 1;
                                        height: 8px;
                                        width: 187px;
                                        overflow: hidden;
                                        
                                        .painel-progress-bar {
                                            background: transparent linear-gradient(270deg, #76A7E5 0%, #4174B5 100%) 0% 0% no-repeat padding-box;
                                            border-radius: 50px;
                                            opacity: 1;
                                            height: 100%;
                                        }
                                    }
                                }

                                .painel-card-details-info {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    gap: 8px;
                                    width: 157px;

                                    .painel-card-details-info-published, .painel-card-details-info-unpublished {
                                        border-radius: 4px;
                                        opacity: 1;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        gap: 4px;
                                        padding: 4px;
                                        height: 24px;
                                        /* width: 77px; */
                                    }
                                    
                                    .painel-card-details-info-published {
                                        background: var(--verde-claro) 0% 0% no-repeat padding-box;
                                        color: var(--verde-escuro);
                                    }

                                    .painel-card-details-info-unpublished {
                                        background: var(--cinza-terciario) 0% 0% no-repeat padding-box;
                                        color: var(--cinza-secundario);
                                    }

                                    .painel-card-details-info-favourite, .painel-card-details-info-unfavourite, .painel-card-details-info-chevron {
                                        width: 24px;
                                        height: 24px;
                                        background: var(--verde-claro) 0% 0% no-repeat padding-box;
                                        opacity: 1;
                                        border-radius: 100%;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        cursor: pointer;
                                        transition: all 0.2s ease-out;
                                        /* padding: 3px; */
                                        color: #338F74;

                                        i {
                                            width: 16px;
                                            height: 16px;
                                            /* margin-bottom: 2px; */
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}