@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap");

:root {
    --page-max-width: 1312px;
    --vermelho-primario: #DC030F;
    --verde-tema: #098E95;
    --verde-terciario: #D2F4B7;
    --verde-primario: #61C924;
    --verde-secundario: #347932;
    --verde-botao: #31872D;
    --verde-escuro: #0B6064;
    --verde-claro: #DFF4EE;
    --azul-primario: #0F6CBF;
    --escuro-primario: #2B2B2B;
    --cinza-primario: #CCCCCC;
    --cinza-secundario: #54595E;
    --cinza-terciario: #DFDFDF;
    --branco-primario: #FFFFFF;
    --branco-secundario: #FEFEFE;
    --background-color: #F5F5F5;
    --unnamed-color-1d2125: #1D2125;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: left;
    font-family: var(--unnamed-font-family-noto-sans);
    /* -moz-transition: all 100ms ease-in;
    -webkit-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in; */
}

html, body {
    background: var(--branco-secundario) 0% 0% no-repeat padding-box;
    color: var(--escuro-primario) !important;
    height: 100%;
    overflow: hidden;
}

#app {
    height: 100vh;
    width: 100vw;
    display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--unnamed-font-family-noto-sans);
    font-weight: 400;
    margin-bottom: 10px;
}

.h6-noto-sans-regular-—-14pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--branco-primario);
}
.h5-noto-sans-medium-—-16pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-medium);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--branco-primario);
}
.h4-noto-sans-semibold-—-14pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--branco-primario);
}
.h3-noto-sans-semibold-—-16pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--branco-primario);
}
.h2-noto-sans-semibold-—-24pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-24);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--branco-primario);
}
.h1-noto-sans-bold-—-40pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-40);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--branco-primario);
}
.legenda-noto-sans-—-10pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-12);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--cinza-secundario);
}
.h6-noto-sans-regular-—-14pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--cinza-secundario);
}
.h5-noto-sans-medium-—-16pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-medium);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--cinza-secundario);
}
.h4-noto-sans-semibold-—-14pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--cinza-secundario);
}
.h3-noto-sans-semibold-—-16pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--cinza-secundario);
}
.h2-noto-sans-semibold-—-24pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-24);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--cinza-secundario);
}
.h1-noto-sans-bold-—-40pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-40);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--cinza-secundario);
}
.h6-noto-sans-regular-—-14pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-1d2125);
}
.h5-noto-sans-medium-—-16pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-medium);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-1d2125);
}
.h4-noto-sans-semibold-—-14pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-1d2125);
}
.h3-noto-sans-semibold-—-16pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-1d2125);
}
.h2-noto-sans-semibold-—-24pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-24);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-1d2125);
}
.h1-noto-sans-semibold-—-40pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-40);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-1d2125);
}
