@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap");

:root {
    --page-max-width: 1312px;
    --vermelho-primario: #DC030F;
    --verde-tema: #098E95;
    --verde-terciario: #D2F4B7;
    --verde-primario: #61C924;
    --verde-secundario: #347932;
    --verde-botao: #31872D;
    --verde-escuro: #0B6064;
    --verde-claro: #DFF4EE;
    --azul-primario: #0F6CBF;
    --escuro-primario: #2B2B2B;
    --cinza-primario: #CCCCCC;
    --cinza-secundario: #54595E;
    --cinza-terciario: #DFDFDF;
    --branco-primario: #FFFFFF;
    --branco-secundario: #FEFEFE;
    --background-color: #F5F5F5;
    --unnamed-color-1d2125: #1D2125;

    --primary: #098E95;
    --primary-dark: #0F5A60;
    --primary-light: #CEFDEF;
    --secondary: #9F6EDE; 
    --secondary-dark: #633594;
    --secondary-light: #E7DBF9;
    --success: #85C121;
    --success-dark: #3F5D17;
    --success-light: #E3F9CE;
    --danger: #FE5448;
    --danger-dark: #A41A10;
    --danger-light: #FFE2E0;
    --warning: #EBBE34;
    --warning-dark: #BC7D12;
    --warning-light: #FAF3C7;
    --info: #FF7E33;
    --info-dark: #C62F08;
    --info-light: #FFE9D4;
    --light: #EBEBEB;
    --light-dark: #CCCCCC;
    --light-lighter: #F5F5F5;
    --dark: #2B2B2B;
    --dark-darker: #141414;
    --dark-light: #858585;
    --general-white: #FFFFFF;

    --font-family: "Noto Sans", sans-serif;
    --font-heading1: 700 1.5rem/normal var(--font-family); /*24px*/ 
    --font-heading2: 700 1.125rem/normal var(--font-family); /*18px*/
    --font-heading3: 500 1rem/normal var(--font-family);
    --font-heading4: 500 0.875rem/normal var(--font-family); /*14px*/
    --font-heading5: 500 0.75rem/normal var(--font-family); /*12px*/
    --font-heading6: 500 0.625rem/normal var(--font-family); /*10px*/

    --font-button1: 600 1rem/normal var(--font-family);
    --font-button2: 600 0.875rem/normal var(--font-family); /*14px*/
    --font-button3: 600 0.75rem/normal var(--font-family); /*12px*/

    --font-paragraph1: 400 1rem/normal var(--font-family);
    --font-paragraph2: 400 0.875rem/normal var(--font-family); /*14px*/

    --counter-full-width: 15.75rem; /*252px*/
    --primary-shadow: 2px 4px 4px 0px #00000040;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: left;
    font: var(--font-paragraph1);
    /* -moz-transition: all 100ms ease-in;
    -webkit-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in; */
}

html, body {
    background: var(--branco-secundario) 0% 0% no-repeat padding-box;
    color: var(--escuro-primario) !important;
    height: 100%;
    overflow: hidden;
}

#app {
    height: 100vh;
    width: 100vw;
    display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--unnamed-font-family-noto-sans);
    font-weight: 400;
    margin-bottom: 10px;
}

.h6-noto-sans-regular-—-14pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--branco-primario);
}
.h5-noto-sans-medium-—-16pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-medium);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--branco-primario);
}
.h4-noto-sans-semibold-—-14pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--branco-primario);
}
.h3-noto-sans-semibold-—-16pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--branco-primario);
}
.h2-noto-sans-semibold-—-24pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-24);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--branco-primario);
}
.h1-noto-sans-bold-—-40pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-40);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--branco-primario);
}
.legenda-noto-sans-—-10pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-12);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--cinza-secundario);
}
.h6-noto-sans-regular-—-14pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--cinza-secundario);
}
.h5-noto-sans-medium-—-16pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-medium);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--cinza-secundario);
}
.h4-noto-sans-semibold-—-14pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--cinza-secundario);
}
.h3-noto-sans-semibold-—-16pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--cinza-secundario);
}
.h2-noto-sans-semibold-—-24pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-24);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--cinza-secundario);
}
.h1-noto-sans-bold-—-40pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-40);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--cinza-secundario);
}
.h6-noto-sans-regular-—-14pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-1d2125);
}
.h5-noto-sans-medium-—-16pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-medium);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-1d2125);
}
.h4-noto-sans-semibold-—-14pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-1d2125);
}
.h3-noto-sans-semibold-—-16pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-1d2125);
}
.h2-noto-sans-semibold-—-24pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-24);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-1d2125);
}
.h1-noto-sans-semibold-—-40pt {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-40);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-1d2125);
}
