#app {
    #sidebar-container {
        position: fixed;
        left: 0;
        transition: width 0.3s;
        z-index: 100;
        overflow-y: auto;
        width: 255px;
        height: 100%;
        background: var(--verde-tema) 0% 0% no-repeat padding-box;
        box-shadow: 3px 0px 6px #00000029;
        border-radius: 0px 16px 16px 0px;
        opacity: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-x: hidden;

        .sidebar-top-content {
            height: 100%;
            width: 85%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: start;

            .sidebar-top-content-header {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .sidebar-title {
                    margin: 20px 0 0 0;
                    /* width: 136px; */
                    height: 24px;
                    font: normal normal bold 18px/22px Noto Sans;
                    color: var(--branco-primario);
                }

                button {
                    margin: 16px 24px 0 0;
                    width: 32px;
                    height: 32px;
                    border: none;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: var(--verde-escuro);
                    border-radius: 8px;

                    &.btn-toggle-sidebar {
                        background: none;
                        
                        img {
                            width: 16px;
                            height: 11px;
                        }
                    }
                }
            }

            .sidebar-top-content-filter-modal-button-area {
                width: 100%;
                height: 18%;
                display: flex;
                flex-direction: column;
                justify-content: end;
                align-items: center;
                margin: 0 auto;
            }
            .sidebar-top-content-filters {
                width: 100%;
                height: 50%;
                display: flex;
                justify-content: start;
                flex-direction: column;
                transition: all 0.3s ease-in-out;

                :nth-child(1) {
                    margin-bottom: 16px;
                }

                span {
                    font: var(--font-heading5);
                    color: var(--branco-primario);
                }

                i {
                    margin-right: 10px;
                    color: var(--branco-primario);
                }

                .sidebar-top-content-filters-list {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: start;
                    
                    .sidebar-top-content-filters-list-item {
                        /* width: 183px; */
                        width: 100%;
                        height: 30px;
                        background: #DFF4EE 0% 0% no-repeat padding-box;
                        border-radius: 20px;
                        opacity: 1;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 16px;
                        margin-bottom: 8px;
                        
                        .sidebar-top-content-filters-list-item-divider {
                            display: flex;
                            justify-content: start;
                            align-items: center;
                            margin: 0;

                            .sidebar-top-content-filters-list-item-icon {
                                width: 16px;
                                height: 16px;
                                color: var(--verde-escuro);
                                margin: 0 8px 0 0;
                            }
                        }

                        i {
                            margin: 4px 5px 4px 0;
                            color: var(--verde-escuro);
                        }

                        span.sidebar-top-content-filters-list-item-text {
                            letter-spacing: var(--unnamed-character-spacing-0);
                            text-align: center;
                            letter-spacing: 0px;
                            color: var(--verde-escuro);
                            opacity: 1;
                            font: normal normal normal 14px/17px Noto Sans;
                            margin-bottom: 3px;
                        }

                        span.sidebar-top-content-filters-list-item-button {
                            font-size: 18px;

                            i {
                                margin: 0 auto;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

        .sidebar-bottom-content {
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center;
            /* padding: 0 8px; */
            border-top: 1px solid var(--branco-primario);
            width: 85%;
            margin: 0 auto;


            .sidebar-bottom-content-footer {
                width: 100%;
                height: 56px;
                background: var(--branco-primario);
                border-radius: 16px;
                padding: 8px 16px;
                display: flex;
                justify-content: start;
                align-items: center;
                margin-bottom: 32px;
                cursor: pointer;

                .profile-image {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-right: 8px;
                }

                &.active {
                    background: var(--verde-escuro);
                    color: var(--branco-primario);
                }
            }

        }

        .sidebar-modal-button {
            display: flex;
            justify-content: start;
            align-items: center;
            cursor: pointer;
            margin-bottom: 25px;
            width: 100%;
            color: var(--branco-primario);
            transition: all 0.3s ease-in-out;
            white-space: nowrap;
            overflow: hidden;

            &.active {
                background: var(--verde-escuro);
                border-radius: 18px;
                padding: 6px 8px !important;
            }

            i {
                margin-right: 8px;
            }
        }

        &.contracted {
            width: 60px;

            .sidebar-title,
            .sidebar-modal-button > span,
            .sidebar-bottom-content-footer span {
                display: none;
            }

            .sidebar-bottom-content-footer {
                background: none;
            }

            .sidebar-top-content-header {
                justify-content: center;

                button {
                    margin: 16px;
                }
            }

            .btn-toggle-sidebar img {
                transform: rotate(180deg);
            }

            .sidebar-modal-button {
                padding: 0 8px !important;
                justify-content: center;

                &.active {
                    justify-content: center;
                    border-radius: 8px;
                    padding: 8px !important;
                    width: fit-content;

                    i {
                        margin: 0;
                    }
                }
            }

            .sidebar-bottom-content-footer {
                justify-content: center;
                padding: 0 !important;

                .profile-image {
                    margin: 0 !important;
                }

                &.active {
                    padding: 2px 6px !important;
                    border-radius: 50px;
                }
            }

            .sidebar-top-content-filters {
                display: none;
            }
        }
    }
}