#app {
    #sidebar-container {
        position: fixed;
        left: 0;
        transition: width 0.3s;
        z-index: 100;
        overflow-y: auto;
        width: 255px;
        height: 100%;
        background: var(--verde-tema) 0% 0% no-repeat padding-box;
        box-shadow: 3px 0px 6px #00000029;
        border-radius: 0px 16px 16px 0px;
        opacity: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-x: hidden;

        .sidebar-top-content {
            height: 100%;
            margin: 1rem .5rem;
            display: flex;
            flex-direction: column;
            justify-content: start;

            .sidebar-top-content-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 3rem;
                margin-inline: 1rem;

                .sidebar-title {
                    margin: 0;
                    height: 24px;
                    font: var(--font-heading2);
                    color: var(--branco-primario);
                    white-space: nowrap;
                }

                button {
                    width: 32px;
                    height: 32px;
                    border: none;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: var(--verde-escuro);
                    border-radius: 8px;

                    &.btn-toggle-sidebar {
                        background: none;
                        
                        img {
                            width: 16px;
                            height: 11px;
                        }
                    }
                }
            }

            .sidebar-top-content-filter-modal-button-area {
                width: 100%;
                display: flex;
                align-items: center;
                margin-bottom: 1.5rem; 
            }
            .sidebar-top-content-filters {
                transition: all 0.3s ease-in-out;
                margin-inline: 1rem;

                .sidebar-top-content-filter-title {
                    margin-bottom: 0.75rem;
                }

                span {
                    font: var(--font-heading5);
                    color: var(--branco-primario);
                }

                i {
                    margin-right: 10px;
                    color: var(--branco-primario);
                }

                .sidebar-top-content-filters-list {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: start;
                    
                    .sidebar-top-content-filters-list-item {
                        width: 100%;
                        height: 30px;
                        background: #DFF4EE 0% 0% no-repeat padding-box;
                        border-radius: 20px;
                        opacity: 1;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 .5rem;
                        margin-bottom: 8px;
                        
                        .sidebar-top-content-filters-list-item-divider {
                            display: flex;
                            width: 95%;
                            align-items: center;
                            margin: 0;

                            .sidebar-top-content-filters-list-item-icon {
                                width: 16px;
                                height: 16px;
                                color: var(--primary-dark);
                                margin: 0 8px 0 0;
                            }
                        }

                        i {
                            margin: 4px 5px 4px 0;
                            color: var(--verde-escuro);
                        }

                        span.sidebar-top-content-filters-list-item-text {
                            opacity: 1;
                            font: var(--font-heading5);
                            color: var(--primary-dark);
                            font-weight: 400;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }

                        span.sidebar-top-content-filters-list-item-button {
                            font-size: 18px;

                            i {
                                margin: 0 auto;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

        .sidebar-bottom-content {
            display: flex;
            gap: 1rem;
            flex-direction: column;
            justify-content: end;
            align-items: center;
            border-top: 1px solid var(--branco-primario);
            margin: 1rem .5rem;
            padding-top: 1rem;

            .sidebar-bottom-content-footer {
                width: 100%;
                background: var(--branco-primario);
                border-radius: 1rem;
                padding: .5rem 1rem;
                display: flex;
                justify-content: start;
                align-items: center;
                margin-bottom: 1rem;
                cursor: pointer;

                span {
                    font: var(--font-heading4);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .profile-image {
                    min-width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-right: .25rem;
                    object-fit: cover;
                }

                &.active {
                    background: var(--primary-dark);
                    color: var(--branco-primario);
                }
            }

        }

        .sidebar-modal-button {
            display: flex;
            gap: .5rem;
            align-items: center;
            cursor: pointer;
            width: 100%;
            padding: .5rem 1rem;
            color: var(--branco-primario);
            transition: all 0.3s ease-in-out;
            white-space: nowrap;
            border-radius: 18px;

            &.active {
                background: var(--primary-dark);
            }

            &:hover {
                background-color: var(--primary-dark);
            }

            .sidebar-modal-button-text-contracted {
                display: none;
                font: var(--font-heading6);
            }

        }

        &.contracted {
            width: 60px;

            .sidebar-modal-button {
                flex-direction: column;
                .sidebar-modal-button-text-contracted {
                    display: block;;
                }
            }

            .sidebar-title,
            .sidebar-modal-button > span,
            .sidebar-bottom-content-footer span {
                display: none;
            }

            .sidebar-bottom-content-footer {
                background: none;
            }

            .sidebar-top-content-header {
                justify-content: center;
            }

            .btn-toggle-sidebar img {
                transform: rotate(180deg);
            }

            .sidebar-modal-button {
                justify-content: center;

                &.active {
                    justify-content: center;

                    i {
                        margin: 0;
                    }
                }
            }

            .sidebar-bottom-content-footer {
                justify-content: center;
                padding: 0 !important;

                .profile-image {
                    margin: 0 !important;
                }

                &.active {
                    padding: 2px 6px !important;
                    border-radius: 50px;
                }
            }

            .sidebar-top-content-filters {
                display: none;
            }
        }
    }
}