<div id="content-container" :class="{'expanded': sidebarContracted}">
    <div class="topbar" v-cloak>
        <ul class="nav">
            <li class="nav-link" v-for="tabItem in visibleTabs" :key="tabItem.originalIndex"
                :class="{ active: activeTab === tabItem.originalIndex }" @click="setActiveTab(tabItem.originalIndex)">

                <span class="aba-seletora">
                    <span class="isDesktop">[[ tabItem.desktop ]]</span>
                    <span class="isMobile">[[ tabItem.mobile ]]</span>
                </span>

                <span class="badge">
                    <div v-if="tabItem.originalIndex === 0 && diarios.length > 0">
                        [[ diarios.length ]]
                    </div>
                    <div v-if="tabItem.originalIndex === 1 && coordenacoes.length > 0">
                        [[ coordenacoes.length ]]
                    </div>
                    <div v-if="tabItem.originalIndex === 2">
                        [[ praticas.length ]]
                    </div>
                    <div v-if="tabItem.originalIndex === 3">
                        [[ reutilizaveis.length ]]
                    </div>
                </span>
            </li>
        </ul>
    </div>
    <div class="content">
        <div class="sidebar-modal" :class="{'open': modalOpen}">
            <div class="modal-content">

                <div class="modal-content-header">
                    <div class="modal-content-header-title">
                        <i :class="'modal-content-header-icon fa-solid ' + modalHeaderIcon"></i>
                        <span>[[ modalTitle ]]</span>
                    </div>
                    <div class="modal-content-header-notifications" v-if="notificationsModalOpen">
                        <i class="fa-regular fa-circle-check modal-content-header-notifications-icon"></i>
                        <i class="fa-solid fa-gear modal-content-header-notifications-icon"></i>
                    </div>
                    <div class="modal-content-header-messages" v-if="messagesModalOpen">
                        <i class="fa-solid fa-user-group modal-content-header-messages-icon"></i>
                        <i class="fa-solid fa-gear modal-content-header-messages-icon"></i>
                    </div>
                    <i class="fa-solid fa-xmark modal-content-header-icon-x" @click="closeSidebarModal"></i>
                </div>

                <div class="modal-content-header-messages" v-if="messagesModalOpen">
                    <div class="modal-content-header-messages-search-bar">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" v-model="messageSearchQuery" placeholder="Pesquisar..."
                            class="modal-content-header-messages-search-input" />
                    </div>
                    <div class="splide">
                        <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide" v-for="(option, index) in messageOptions" :key="index">
                                    <div class="modal-content-header-messages-option"
                                        :class="{ 'active': selectedMessageOption === option.value }"
                                        @click="selectMessageOption(option.value)">
                                        [[ option.label ]]
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="modal-content-body" v-if="modalType === 'accessibility'" id="modal-accessibility">
                    {% include 'theme/ifrn25/frontpage/partials/modals/accessibility.html' %}            
                </div>

                <div class="modal-content-body" v-if="modalType === 'help'">
                    {% include 'theme/ifrn25/frontpage/partials/modals/help.html' %}
                </div>

                <div class="modal-content-body" v-if="modalType === 'notifications'">
                    {% include 'theme/ifrn25/frontpage/partials/modals/notifications.html' %}
                </div>

                <div class="modal-content-body" v-if="modalType === 'messages'">
                    {% include 'theme/ifrn25/frontpage/partials/modals/messages.html' %}
                </div>

                <div class="modal-content-body" v-if="modalType === 'profile'">
                    {% include 'theme/ifrn25/frontpage/partials/modals/profile.html' %}
                </div>

                <div class="modal-content-body" v-if="modalType === 'filter'">
                    {% include 'theme/ifrn25/frontpage/partials/modals/filter.html' %}
                </div>
            </div>
        </div>

        <div class="tab-content">
            <div class="tab-pane" :class="{ active: activeTab === 0 }">
                {% include "theme/ifrn25/frontpage/partials/modals/card-container.html" with list_name="diarios" list_gender="o" %}
            </div>

            <div class="tab-pane" :class="{ active: activeTab === 1 }">
                {% include "theme/ifrn25/frontpage/partials/modals/card-container.html" with list_name="coordenacoes" list_gender="a" %}
            </div>

            <div class="tab-pane" :class="{ active: activeTab === 2 }">
                <div class="card-container" v-if="praticas.length > 0">
                    <div class="card" v-for="(item, index) in praticas" :key="index">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.name }}</h5>
                            <div class="card-details">
                                <p><strong>ID:</strong> {{ item.id }}</p>
                                <p><strong>Descrição:</strong> {{ item.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="no-data" v-else>
                    <p>Nenhum dado encontrado.</p>
                </div>
            </div>

            <div class="tab-pane" :class="{ active: activeTab === 3 }">
                <div class="card-container" v-if="reutilizaveis.length > 0">
                    <div class="card" v-for="(item, index) in reutilizaveis" :key="index">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.name }}</h5>
                            <div class="card-details">
                                <p><strong>ID:</strong> {{ item.id }}</p>
                                <p><strong>Descrição:</strong> {{ item.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="no-data" v-else>
                    <p>Nenhum dado encontrado.</p>
                </div>
            </div>
        </div>
    </div>
</div>
