{% extends "theme/ifrn25/frontpage/index.html" %}

{% block content %}
<div id="content-container" :class="{'expanded': sidebarContracted}">

        
    <a href="{% url 'painel:dashboard' %}" class="btn btn-outline-secondary mb-4">
        <i class="fa-solid fa-arrow-left"></i> Voltar para a Vitrine
    </a>
    
    <div class="curso-header">
        <span class="badge badge-info">{{ ambiente_nome }}</span>
        <h1>Detalhes do Curso (ID: {{ id_curso }})</h1>
    </div>
    
    <div class="curso-summary my-4">
        <div class="card">
            <div class="card-body">
                {{ curso_summary|safe }}
            </div>
        </div>
    </div>
    
    <div class="curso-actions">
        {% if request.user.is_authenticated %}

        {% if is_enrolled %}
        <a href="{{ moodle_url }}/course/view.php?id={{ id_curso }}" target="_blank" class="btn btn-primary btn-lg">
            <i class="fa-solid fa-laptop-code"></i> Acessar Ambiente Virtual
        </a>
        {% else %}
        <button class="btn btn-success btn-lg" onclick="alert('Chamar endpoint enrol_course do Vue!')">
            <i class="fa-solid fa-right-to-bracket"></i> Quero me inscrever
        </button>
        {% endif %}

        {% else %}

        <a href="{% url 'a4:login' %}" class="btn btn-warning btn-lg">
            <i class="fa-solid fa-user-lock"></i> Faça login para se inscrever
        </a>

        {% endif %}
    </div>
        
</div>
{% endblock content %}