{% load static %}
<div id="sidebar-container" :class="{'contracted': sidebarContracted}">
    <div class="sidebar-content-header">
        <p class="sidebar-title">Painel AVA</p>
        <button @click="toggleSidebar" :class="{'btn-toggle-sidebar': sidebarContracted}">
            <img src="{% static '/theme/ifrn25/img/sidebar-toggle.svg' %}" alt="Toggle Sidebar">
        </button>
    </div>

    <div class="sidebar-content-body">

        <div class="sidebar-user-content">
            <div class="sidebar-user-content-profile" @click="toggleModalWithContent('profile')"
                :class="{'active': modalType === 'profile'}">
                <img src="{{ logged_user.foto_url }}" alt="Imagem de perfil" class="profile-image">
                <span>{{ logged_user.show_name }}</span>
            </div>
            <div class="sidebar-user-content-options">
                <div class="sidebar-modal-button" @click="toggleModalWithContent('accessibility')"
                    :class="{'active': modalType === 'accessibility'}">
                    <i class="fa-solid fa-universal-access"></i>
                    <span>Acessibilidade</span>
                </div>
                <div class="sidebar-modal-button" @click="toggleModalWithContent('help')"
                    :class="{'active': modalType === 'help'}">
                    <i class="fa-solid fa-circle-question"></i>
                    <span>Ajuda</span>
                </div>
                <!-- <div class="sidebar-modal-button" @click="toggleModalWithContent('notifications')"
                    :class="{'active': modalType === 'notifications'}">
                    <i class="fa-solid fa-bell"></i>
                    <span>Notificações</span>
                </div> -->
                <!-- <div class="sidebar-modal-button" @click="toggleModalWithContent('messages')"
                    :class="{'active': modalType === 'messages'}">
                    <i class="fa-solid fa-comment"></i>
                    <span>Mensagens</span>
                </div> -->
            </div>
        </div>

        <div class="sidebar-content-divider"></div>

        <div class="sidebar-course-content">
            <div class="sidebar-course-content-filter-modal-button-area">
                <div class="sidebar-modal-button" @click="toggleModalWithContent('filter')"
                    :class="{'active': modalType === 'filter'}">
                    <i class="fa-solid fa-filter"></i>
                    <span class="sidebar-modal-button-text-contracted">FILTRO</span>
                    <span>Adicionar filtros</span>
                </div>
            </div>
            <div v-cloak class="sidebar-course-content-filters">
                <div class="sidebar-course-content-filter-title">
                    <i class="fa-solid fa-sliders"></i>
                    <span>FILTRADO POR:</span>
                </div>
                <div class="sidebar-course-content-filters-list" @click="toggleModalWithContent('filter')">
                    <div v-for="(filter, index) in activeFilters" :key="index" class="sidebar-course-content-filters-list-item">
                        <div class="sidebar-course-content-filters-list-item-divider">
                            <i v-if="filter.icon.startsWith('fa-')" :class="`fa-solid ${filter.icon}`"></i>
                            <img v-else :src="`{% static '/theme/ifrn25/img/${filter.icon}-green.svg' %}`" alt=""
                                class="sidebar-course-content-filters-list-item-icon">
                            <span class="sidebar-course-content-filters-list-item-text">
                                [[ filter.label ]]
                            </span>
                        </div>
                        <span v-if="filter.type !== 'situacao'" class="sidebar-course-content-filters-list-item-button"
                            @click="removeFilter(filter.type)">
                            <i class="fa-solid fa-xmark"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
