<div id="modal-content-body-profile">
    <div class="ava-button-options">
        <div class="ava-button-option">
            <a href="#">Perfil</a>
        </div>
        <div class="ava-button-option">
            <a href="#">Notas</a>
        </div>
        <div class="ava-button-option">
            <a href="#">Calendário</a>
        </div>
        <div class="ava-button-option">
            <a href="#">Mensagens</a>
        </div>
        <div class="ava-button-option">
            <a href="#">Arquivos Privados</a>
        </div>
        <div class="ava-button-option">
            <a href="#">Relatórios</a>
        </div>
    </div>
    <span class="modal-content-body-profile-divider"></span>
    <div class="painel-button-options">
        <div class="painel-button-option">
            <a href="#">
                Preferências
            </a>
        </div>
        <div class="painel-button-option">
            <a href="#">
                Mudar papel para
            </a>
        </div>
        <div class="painel-button-option">
            <a href="#">
                Administração do Site
            </a>
        </div>
    </div>
</div>