{% load static %}
<div class="accessiblity-options">
        <div class="custom-checkbox-access">
            <input
                type="checkbox" 
                v-model="preferences.dyslexia_font"
                class="checkbox-access-input" 
                id="dyslexia-friendly"
                @change="togglePreference('dyslexia_font', 'enabled', $event.target.checked)"
            >
            <label class="checkbox-access-label" for="dyslexia-friendly" alt="OpenDyslexic, Dyslexie, Lexend">
                <span class="label-container">
                    <i class="fa-solid fa-align-left icon-id"></i>
                    Fonte amigável a disléxicos
                </span>                
                <i class="fa-regular fa-circle-check icon-checked"></i>
            </label>
        </div>

        <div class="custom-checkbox-access">
            <input 
                type="checkbox" 
                v-model="preferences.remove_justify_align"
                class="checkbox-access-input" 
                id="remove-justify"
                @change="togglePreference('remove_justify_align', 'enabled', $event.target.checked)"
            >
            <label class="checkbox-access-label" for="remove-justify">
                <span class="label-container">
                    <i class="fa-solid fa-align-left icon-id"></i>
                    Alinhar texto à esquerda
                </span>
                <i class="fa-regular fa-circle-check icon-checked"></i>
            </label>
        </div>
        
        <div class="custom-checkbox-access">
            <input 
                type="checkbox" 
                v-model="preferences.highlight_links"
                class="checkbox-access-input"
                id="highlight-links" 
                @change="togglePreference('highlight_links', 'enabled', $event.target.checked)">
            <label class="checkbox-access-label" for="highlight-links">
                <span class="label-container">
                    <i class="fa-solid fa-align-left icon-id"></i>
                    Destacar links
                </span> 
                <i class="fa-regular fa-circle-check icon-checked"></i>
            </label>
        </div>

        <div class="custom-checkbox-access">
            <input 
                type="checkbox" 
                v-model="preferences.stop_animations"
                class="checkbox-access-input"
                id="stop-animations" 
                @change="togglePreference('stop_animations', 'enabled', $event.target.checked)">
            <label class="checkbox-access-label" for="stop-animations">
                <span class="label-container">
                    <i class="fa-solid fa-align-left icon-id"></i>
                    Parar animações
                </span>            
                <i class="fa-regular fa-circle-check icon-checked"></i>
            </label>
        </div>

        <div class="custom-checkbox-access">
            <input 
                type="checkbox"
                v-model="preferences.hidden_illustrative_image"
                class="checkbox-access-input" 
                id="hidden-illustrative-image"
                @change="togglePreference('hidden_illustrative_image', 'enabled', $event.target.checked)">
            <label class="checkbox-access-label" for="hidden-illustrative-image">
                <span class="label-container">
                    <i class="fa-solid fa-align-left icon-id"></i>
                    <span>Ocultar imagens ilustrativas</span>
                </span>
                <i class="fa-regular fa-circle-check icon-checked"></i>
            </label>
        </div>

        <div class="custom-checkbox-access">
            <input 
                type="checkbox" 
                v-model="preferences.big_cursor"
                class="checkbox-access-input"
                id="big-cursor" 
                @change="togglePreference('big_cursor', 'enabled', $event.target.checked)">
            <label class="checkbox-access-label" for="big-cursor">
                <span class="label-container">
                    <i class="fa-solid fa-align-left icon-id"></i>
                    Cursor do mouse grande
                </span>
                <i class="fa-regular fa-circle-check icon-checked"></i>
            </label>
        </div>


        <div class="custom-checkbox-access">
            <input 
                type="checkbox"
                v-model="preferences.vlibras_active"
                class="checkbox-access-input"
                id="vlibras-active" 
                @change="togglePreference('vlibras_active', 'enabled', $event.target.checked)">
            <label class="checkbox-access-label" for="vlibras-active">
                <span class="label-container">
                    <i class="fa-solid fa-align-left icon-id"></i>
                    Habilitar VLibras
                </span>
                <i class="fa-regular fa-circle-check icon-checked"></i>
            </label>
        </div>

        <div class="custom-checkbox-access">
            <input 
                type="checkbox" 
                v-model="preferences.high_line_height"
                class="checkbox-access-input" 
                id="high-line-height"
                @change="togglePreference('high_line_height', 'enabled', $event.target.checked)"
            >    
            <label class="checkbox-access-label" for="high-line-height">
                <span class="label-container">
                    <i class="fa-solid fa-align-left icon-id"></i>
                    Linhas mais distantes
                </span>
                <i class="fa-regular fa-circle-check icon-checked"></i>
            </label>
        </div>

        <div class="custom-control custom-switch">
            <label for="zoom-level">Zoom da página:</label>
            <select 
                id="zoom-level" 
                v-model="zoom_level" 
                @change="togglePreference('zoom_level', 'selected', zoom_level)">
                <option :value="100">Normal (100%)</option>
                <option :value="125">Médio (125%)</option>
                <option :value="150">Grande (150%)</option>
                <option :value="175">Muito grande (175%)</option>
            </select>
        </div>

<!--

    <div class="drawer-item" id="settingsvisual">
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="high-paragraph-distance">
            <label class="custom-control-label" for="high-paragraph-distance" alt="Aumenta para 2x">Parágrafos distantes</label>
        </div>
    </div>

    <div class="drawer-item" id="settingsvisual">
        Cor
        <div style='margin-left: 1em'>
            <div class="custom-control custom-switch">
                <input type="radio" class="custom-control-input" name='color-scheme' id="colors-default">
                <label class="custom-control-label" for="colors-default">Padrão</label>
            </div>
            <div class="custom-control custom-switch">
                <input type="radio" class="custom-control-input" name='color-scheme' id="colors-dark">
                <label class="custom-control-label" for="colors-dark">Escuro</label>
            </div>
            <div class="custom-control custom-switch">
                <input type="radio" class="custom-control-input" name='color-scheme' id="colors-light">
                <label class="custom-control-label" for="colors-light">Claro</label>
            </div>
            <div class="custom-control custom-switch">
                <input type="radio" class="custom-control-input" name='color-scheme' id="colors-grays">
                <label class="custom-control-label" for="colors-grays">Tons de cinza</label>
            </div>
            <div class="custom-control custom-switch">
                <input type="radio" class="custom-control-input" name='color-scheme' id="colors-low-saturation">
                <label class="custom-control-label" for="colors-low-saturation">Baixa saturação</label>
            </div>
            <div class="custom-control custom-switch">
                <input type="radio" class="custom-control-input" name='color-scheme' id="colors-high-saturation">
                <label class="custom-control-label" for="colors-high-saturation">Alta saturação</label>
            </div>
        </div>
    </div>
    <div class="drawer-item" id="settingsvisual">
        Zoom
        <div style='margin-left: 1em'>
            <input type="radio" class="custom-control-input" name='color-scheme' id="zoom-100">&nbsp;<label class="custom-control-label" for="zoom-100">100%</label>
            <input type="radio" class="custom-control-input" name='color-scheme' id="zoom-120">&nbsp;<label class="custom-control-label" for="zoom-120">120%</label>
            <input type="radio" class="custom-control-input" name='color-scheme' id="zoom-130">&nbsp;<label class="custom-control-label" for="zoom-130">130%</label>
            <input type="radio" class="custom-control-input" name='color-scheme' id="zoom-140">&nbsp;<label class="custom-control-label" for="zoom-140">140%</label>
            <input type="radio" class="custom-control-input" name='color-scheme' id="zoom-150">&nbsp;<label class="custom-control-label" for="zoom-120">150%</label>
        </div>
    </div>
-->
</div>