<!-- Se estiver carregando, mostra animação/skeleton -->
<div class="card-container loading" v-if="loading">
    <div class="alert alert-warning" style="margin-bottom: 1rem; width: 100%; max-width: 1360px; margin-left: auto; margin-right: auto;" v-if="isTakingLong">
        <i class="fa-solid fa-clock"></i> Isso está demorando mais que o normal. Por favor, aguarde enquanto buscamos seus dados...
    </div>
    <div class="card-skeleton" v-for="n in 4" :key="n">
        <div class="header-skeleton">
            <div class="title-skeleton"></div>
            <div class="subtitle-skeleton"></div>
        </div>

        <div class="footer-skeleton">
            <div class="progress-bar-skeleton-container">
                <div class="progress-bar-skeleton"></div>
                <div class="progress-text-skeleton"></div>
            </div>
            <div class="itens-skeleton">
                <div class="badge-skeleton"></div>
                <div class="badge-skeleton"></div>
                <div class="icon-skeleton"></div>
            </div>
        </div>

    </div>
</div>


<div class="card-container" v-if="!loading && {{ list_name }}.length > 0">
    <div class="card" v-for="(item, index) in {{ list_name }}" :key="index">
        <a class="text-decoration-none painel-card-header" :href="item.details_url" v-on:click="mostrarGauge">
            <h2 class="painel-card-title">[[ item.fullname ]]</h2>
            <span class="painel-card-header-shortname">[[ item.shortname ]]</span>
        </a>
        <div class="painel-card-details" style="margin-top: 1rem;" :class="{ 'enrolled': item.is_enrolled }">

            <div class="painel-card-actions" style="display: flex; gap: 10px; flex-wrap: wrap;">

                <button v-if="!item.is_enrolled" class="btn btn-primary" style="margin-bottom: 0px; flex: 1;" @click.prevent="enrollCourse(item)">
                    <i class="fa-solid fa-right-to-bracket"></i> Inscreva-se
                </button>

                <template v-else>
                    <a class="btn btn-primary"
                       style="flex: 1; display: flex; justify-content: center; align-items: center; gap: 5px;"
                       :href="item.url" @click="mostrarGauge">
                        Acessar curso
                    </a>

                    <button class="btn btn-outline-secondary btn-cancel-enroll" title="Cancelar Matrícula" @click.prevent="unenrollCourse(item)">
                        <i class="fa-solid fa-xmark"></i> Cancelar inscrição
                    </button>
                </template>

            </div>

            <div class="painel-card-details-info">
                <div class="painel-card-info-icon" v-if="item.environment">
                    <i class="fa-solid fa-graduation-cap"></i>
                    <span class="painel-card-header-env">[[ item.environment ]]</span>
                </div>
                <div v-if="item.is_enrolled" class="painel-card-info-icon text-success">
                    <i class="fa-regular fa-circle-check"></i>
                    <span class="painel-card-header-env">Inscrito</span>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="no-data" v-if="!loading && {{ list_name }}.length===0">
    <h3>Nenhum resultado encontrado nesta aba.</h3>
    <p>Ajuste os filtros ou clique em "Limpar filtros" para ver todos os itens.</p>
    <button class="btn btn-primary" @click="resetFilters()">Limpar filtros</button>
    <p></p>
    <p>É possível que a Secretaria Acadêmica ainda não tenha lhe inserido em diário algum, neste caso, por favor
        aguarde.</p>
</div>
