<!-- Se estiver carregando, mostra animação/skeleton -->
<div class="card-container loading" v-if="loading">
    <div class="card-skeleton" v-for="n in 4" :key="n">
        <div class="header-skeleton">
            <div class="title-skeleton"></div>
            <div class="subtitle-skeleton"></div>
        </div>

        <div class="footer-skeleton">
            <div class="progress-bar-skeleton-container">
                <div class="progress-bar-skeleton"></div>
                <div class="progress-text-skeleton"></div>
            </div>
            <div class="itens-skeleton">
                <div class="badge-skeleton"></div>
                <div class="badge-skeleton"></div>
                <div class="icon-skeleton"></div>
            </div>
        </div>

    </div>
</div>


<div class="card-container" v-if="!loading && {{ list_name }}.length > 0">
    <div class="card" v-for="(item, index) in {{ list_name }}" :key="index">
        <a class="text-decoration-none painel-card-header" :href="item.details_url" v-on:click="mostrarGauge">
            <h2 class="painel-card-title">[[ item.fullname ]]</h2>
            <span class="painel-card-header-shortname">[[ item.shortname ]]</span>
        </a>
        <div class="painel-card-details" :class="{ 'enrolled': item.is_enrolled }">
            <a v-if="!item.is_enrolled" class="card-info-enroll" :href="item.details_url">
                <i class="fa-solid fa-right-to-bracket"></i>
                <span class="painel-card-header-env">Inscreva-se</span>
            </a>
            <div class="painel-card-details-info">
                <div v-if="item.is_enrolled" class="painel-card-info-icon">
                    <i class="fa-regular fa-circle-check"></i>
                    <span class="painel-card-header-env">Inscrito</span>
                </div>
                <div class="painel-card-info-icon">
                    <i class="fa-solid fa-graduation-cap"></i>
                    <span class="painel-card-header-env">[[ item.environment ]]</span>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="no-data" v-if="!loading && {{ list_name }}.length===0">
    <h3>Nenhum resultado encontrado nesta aba.</h3>
    <p>Ajuste os filtros ou clique em "Limpar filtros" para ver todos os itens.</p>
    <button class="btn btn-primary" @click="resetFilters()">Limpar filtros</button>
    <p>É possível que a Secretaria Acadêmica ainda não tenha lhe inserido em diário algum, neste caso, por favor
        aguarde.</p>
</div>