<div id="modal-content-body-profile">
    <div class="ava-button-options">
        <span class="modal-content-body-title">Links</span>
        <div class="modal-button-option">
            <a href="https://suap.ifrn.edu.br/comum/minha_conta/">Perfil no SUAP</a>
        </div>
        <div class="modal-button-option">
            <a href="https://aberto.ava.ifrn.edu.br">AVA Aberto</a>
        </div>
    </div>
    <div class="ava-button-options">
        <span class="modal-content-body-title">Tema</span>
        {% for addedTheme in added_themes %}
            <div class="modal-button-option">
                <a {% if user.theme_selected != addedTheme.theme.nome %} href="{% url "painel:change_theme" theme=addedTheme.theme.nome %}" class="dropdown-item"{% else %} class="dropdown-item selected"{% endif %}>
                    {% if user.theme_selected == addedTheme.theme.nome %}<i class="fa fa-check me-2"></i>{% endif %}{{addedTheme.theme.apelido}}
                </a>
            </div>
        {% endfor %}
    </div>
    {% if personificando %}
    <div class="admin-button-options">
        <div class="modal-button-option">
            <a class="dropdown-item" href="{% url 'a4:despersonificar' %}">Voltar a ser {{ user.show_name }}</a>
        </div>
    </div>
    {% else %}
    {% if user.is_superuser %}
    <div class="admin-button-options">
        <span class="modal-content-body-title">Admins</span>
        {% if admins %}
            {% for ava in admins %}
            <div class="modal-button-option">
                <a class="dropdown-item" href="{{ ava.url }}">{{ ava.nome }}</a>
            </div>
            {% endfor %}
        {% else %}
            <div class="modal-button-option">
                <a class="dropdown-item" href="{% url 'admin:painel_contrante_changelist' %}">Cadastrar ambiente</a>
            </div>
        {% endif %}
        <div class="modal-button-option">
            <a class="dropdown-item" href="{% url 'admin:index' %}">Painel AVA</a>
        </div>
    </div>
    {% endif %}
    {% endif %}
    <div class="modal-button-option">
        <span class="modal-content-body-title">Versão {{ app_version }}</span>
    </div>
    <span class="modal-content-body-profile-divider"></span>
    <div class="ava-button-options">
        <span class="modal-switch-title">Menu na parte inferior</span>
        <div class="modal-switch-option custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="menuPositionCheckbox" v-model="isBottom"
                @change="savePosition" />
            <span class="slider"></span>
            <label class="custom-control-label" for="menuPositionCheckbox">
                [[ isBottom ? 'Ativado' : 'Desativado' ]]
            </label>
        </div>
    </div>
    <div class="modal-button-option exit-button">
        <a href="{% url 'a4:logout' %}">Sair</a>
    </div>
</div>
