@charset "UTF-8";

@font-face {
  font-family: "ifzl-font-icon";
  src:url("ifzl-font-icon-v2.eot");
  src:url("ifzl-font-icon-v2.woff") format("woff"),
    url("ifzl-font-icon-v2.ttf") format("truetype"),
    url("ifzl-font-icon-v2.svg") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "ifzl-font-icon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ifzl-font-icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 4px;
}

.icon-angle-down:before {
  content: "\61";
}
.icon-angle-left:before {
  content: "\62";
}
.icon-angle-right:before {
  content: "\63";
}
.icon-angle-up:before {
  content: "\64";
}
.icon-bars:before {
  content: "\65";
}
.icon-cloud-download:before {
  content: "\66";
}
.icon-minus:before {
  content: "\67";
}
.icon-search:before {
  content: "\68";
}
.icon-plus:before {
  content: "\69";
}
.icon-times:before {
  content: "\6a";
}
.icon-trash:before {
  content: "\6b";
}
.icon-youtube-play:before {
  content: "\6c";
}
.icon-facebook-square:before {
  content: "\6d";
}
.icon-filter:before {
  content: "\6e";
}
.icon-home:before {
  content: "\6f";
}
.icon-info:before {
  content: "\70";
}
.icon-chevron-down:before {
  content: "\72";
}
.icon-chevron-up:before {
  content: "\73";
}
.icon-external-link:before {
  content: "\55";
}
.icon-chevron-right:before {
  content: "\74";
}
.icon-chevron-left:before {
  content: "\76";
}
.icon-compress:before {
  content: "\77";
}
.icon-expand:before {
  content: "\78";
}
.icon-list-ul:before {
  content: "\79";
}
.icon-eye:before {
  content: "\7a";
}
.icon-eye-slash:before {
  content: "\41";
}
.icon-envelope:before {
  content: "\42";
}
.icon-hourglass-half:before {
  content: "\43";
}
.icon-star-o:before {
  content: "\44";
}
.icon-star:before {
  content: "\45";
}
.icon-pencil:before {
  content: "\46";
}
.icon-clock:before {
  content: "\47";
}
.icon-xmark-solid:before {
  content: "\75";
}
.icon-instagram:before {
  content: "\48";
}
.icon-suap:before {
  content: "\49";
}
.icon-suap-vazado:before {
  content: "\4a";
}
.icon-comment-o:before {
  content: "\4c";
}
.icon-comment:before {
  content: "\4b";
}
.icon-bell:before {
  content: "\4d";
}
.icon-bell-o:before {
  content: "\4e";
}
.icon-table:before {
  content: "\4f";
}
.icon-moodle:before {
  content: "\50";
}
.icon-calendario-semestre:before {
  content: "\51";
}
.icon-calendario-periodo:before {
  content: "\52";
}
.icon-calendario-modulo:before {
  content: "\53";
}
.icon-diario:before {
  content: "\54";
}
.icon-disciplina:before {
  content: "\56";
}
.icon-icone-ava:before {
  content: "\57";
}
.icon-playlist:before {
  content: "\58";
}
.icon-ca-ambiente-virtual-de-aprendizagem-moodle:before {
  content: "\59";
}
.icon-ca-central-de-servicos:before {
  content: "\5a";
}
.icon-ca-comunicacao-eventos-e-redes-sociais:before {
  content: "\30";
}
.icon-ca-estrutura-administrativa-e-contatos:before {
  content: "\31";
}
.icon-ca-gestao-de-pessoas:before {
  content: "\32";
}
.icon-ca-portal-ead-ifrn:before {
  content: "\33";
}
.icon-ca-producao-de-materiais-audiovisuais:before {
  content: "\34";
}
.icon-ca-producao-de-materiais-didaticos-e-graficos:before {
  content: "\35";
}
.icon-ca-secretaria-academica:before {
  content: "\36";
}
.icon-ca-sistema-de-processo-seletivo:before {
  content: "\37";
}
.icon-ca-suap:before {
  content: "\38";
}
.icon-ca-transmissoes-ao-vivo-e-webconferencias:before {
  content: "\39";
}
.icon-ca-tutoriais-em-video:before {
  content: "\21";
}
.icon-filtro:before {
  content: "\22";
}
.icon-cpa:before {
  content: "\71";
}
.icon-edu-prisional:before {
  content: "\23";
}
.icon-proitec:before {
  content: "\24";
}
.icon-semad:before {
  content: "\25";
}
.icon-webstories:before {
  content: "\26";
}
.icon-historico-integracoes:before {
  content: "\27";
}
.icon-preview-notas:before {
  content: "\28";
}
.icon-mensagem-suap:before {
  content: "\29";
}
.icon-acessibilidade:before {
  content: "\2a";
}
.icon-libras:before {
  content: "\2b";
}
