@media only screen and (max-width: 767px)  {
    #page-title {
        padding: 10px 0 0 10px;
        //max-width: 432px;
        height: 60px;
        background: transparent linear-gradient(270deg, #f8f8f8 0%, #6298a7 46%, #27726b 74%, #1f6552 100%) 0% 0% no-repeat
            padding-box;

        img:first-child {
            float: left;
            width: 35px;
            height: 35px;
        }

        h1 {
            margin-left: 40px;
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-40) /
                var(--unnamed-line-spacing-22) var(--unnamed-font-family-noto-sans);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--branco-primario);
            text-align: left;
            font: normal normal bold 40px Noto Sans;
            letter-spacing: 0px;
            color: #ffffff;
            opacity: 1;
            line-height: 40px;
        }

        img:last-child {
            float: right;
            margin-top: -75px;
            width: 80px;
            height: 90px;
        }
    }
}