#page-menu {
    margin-top: -40px;
    border-bottom: 3px solid #338f74;
    //margin-right: 3px;

    .nav-tabs {
        border: none;
    }

    > .nav-tabs > .nav-link {
        background-color: var(--cinza-terciario);
        // border-color: var(--verde-secundario);
        border: 0;
        margin-right: 4px;
        margin-bottom: 0px;
        font: var(--unnamed-font-style-normal) normal 600 var(--unnamed-font-size-16) / var(--unnamed-line-spacing-22)
            var(--unnamed-font-family-noto-sans);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--escuro-primario);
        text-align: left;

        &.active {
            background: transparent linear-gradient(180deg, #51a78e 0%, #338f74 100%) 0% 0% no-repeat padding-box;
            box-shadow: 0px 0px 4px #00000029;
            border-radius: 4px 4px 0px 0px;
            font: var(--unnamed-font-style-normal) normal 600 var(--unnamed-font-size-16) /
                var(--unnamed-line-spacing-22) var(--unnamed-font-family-noto-sans);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--branco-primario);
            text-align: left;
        }

        &:first-letter {
            text-transform: uppercase;
        }
    }

    > .nav-tabs > .nav-link.closed {
        color: var(--branco-primario);
        background-color: var(--verde-secundario);
    }

    > .nav-tabs > .nav-link.closed {
        color: var(--branco-primario);
        background-color: var(--verde-secundario);
    }
}

#menu-separator {
    height: 4px;
    background: #338f74 0% 0% no-repeat padding-box;
    border-radius: 0px 4px 0px 0px;
}



