@media only screen and (max-width: 767px)  {
    #page-menu {
        margin: 15px;
        border-bottom: none;
       
        select{
            background-color:#fff;
            border-radius: 5px;
            width: 100%;
            line-height: 80px;
            padding: 5px;
            font: size 12px;
            border:1px solid #338f73;
            
        }
        
    }
    #search-mobile{
        margin-top: 10px;      
        display: grid;
        grid-template-columns: 1fr 80px;
        gap: 8px;

        form{
            position: relative;
        }
        input{          
            width: 100%;
            border:1px solid #338f73;
            line-height: 30px;
            border-radius: 5px;
            margin-right: 10px;
            padding-left: 10px;
            outline: none;        
        }
        button{
            border:1px solid #338f73;
            border-radius: 5px;
            padding: 5px 10px;
            font-size:smaller;
            div{
                display: inline-flex;
                i{
                    margin-top: 3px;
                    margin-right: 5px;
                }
            }
        }
        #btnClearFilter:hover{
            background-color: #fff !important;
        }
 
        #btn-search {
            position: absolute;
            color: #777;
            top: 0px;
            right: 0px;         
            background-color: #DFF4EE;      
        }
    
        #btn-filter{
            color: #fff;
            background-color: var(--verde-botao);
            padding: 0px 10px;
        }
    }
}