#course-list {
    margin: 15px;
    padding: 5px;
    

    #course-toolbar {
        display: block;
        height: 50px;

        > div {
            float: right;

            label:first-child {
                background-color: transparent !important;
                font-size: 28px;
                padding: 0;
                margin: -4px 20px 0 0;
                float: left;
            }

            label {
                width: 27px;
                height: 25px;
                background: var(--background-color) 0% 0% no-repeat padding-box;
                border-radius: 4px;
                padding: 0;
                margin-left: 4px;

                .fa {
                    color: var(--cinza-secundario);
                }
            }

            .btn-check:checked + .btn {
                border: 1px solid var(--verde-botao);
                .fa {
                    color: var(--verde-botao);
                }
            }
        }
    }

    .course-listitem {
        margin-bottom: 20px;

        .course-body {
            background: var(--branco-primario) 0% 0% no-repeat padding-box;
            border-radius: 4px;
            box-shadow: 0px 2px 5px #00000080;
            min-height: 99px;
            display: grid;
            grid-template-columns: 1fr 37px;

            .course-info {
                padding: 15px;

                .course-identification {
                    margin-bottom: 5px;

                    label {
                        border-radius: 50%;
                        width: 29px;
                        height: 29px;
                        text-align: center;
                        padding: 5px;
                        color: var(--branco-primario);
                    }

                    > span {
                        margin-top: 3px;
                        margin-left: 10px;
                        

                        > span {
                            
                            font: var(--unnamed-font-style-normal) normal 600 var(--unnamed-font-size-16) /
                                var(--unnamed-line-spacing-22) var(--unnamed-font-family-noto-sans);
                            letter-spacing: var(--unnamed-character-spacing-0);
                            color: var(--escuro-primario);
                            text-align: left;
                        }
                    }
                    .icon-moodle{
                        font-size: large;
                    }
                }
                .course-disciplina a,
                .course-disciplina a:hover,
                .course-disciplina a:visited,
                .course-disciplina a:active {
                    font: var(--unnamed-font-style-normal) normal 600 var(--unnamed-font-size-24) /
                        var(--unnamed-line-spacing-22) var(--unnamed-font-family-noto-sans);
                    letter-spacing: var(--unnamed-character-spacing-0);
                    color: var(--escuro-primario);
                    text-align: left;
                    letter-spacing: 0px;
                    text-decoration: none;
                }

                .course-curso {
                    font: var(--unnamed-font-style-normal) normal 400 var(--unnamed-font-size-16) /
                        var(--unnamed-line-spacing-22) var(--unnamed-font-family-noto-sans);
                    letter-spacing: var(--unnamed-character-spacing-0);
                    color: var(--escuro-primario);
                    padding-bottom: 5px;
                }
                .course-progressbar {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    height: 12px;
                    margin-top: 5px;

                    > div:first-child {
                        background: #cfcfcf 0% 0% no-repeat padding-box;
                        border-radius: 50px;
                        height: 12px;

                        span {
                            display: block;
                            background: #5f92d1 0% 0% no-repeat padding-box;
                            border-radius: 50px;
                            height: 12px;
                        }
                    }
                    > div:last-child {
                        font: var(--unnamed-font-style-normal) normal 600 var(--unnamed-font-size-12) /
                            var(--unnamed-line-spacing-22) var(--unnamed-font-family-noto-sans);
                        letter-spacing: var(--unnamed-character-spacing-0);
                        color: var(--cinza-primario);
                        text-align: left;
                        font: normal normal 600 12px/22px Noto Sans;
                        letter-spacing: 0px;
                        color: #7d848b;
                        height: 12px;
                        margin: -6px 0 0 20px;
                    }
                }
            }
            .course-quickactions {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                box-shadow: -1px 0px 2px #00000026;
                border-radius: 0 4px 4px 0;

                > label {
                    font-size: 22px;
                    display: block;
                    height: 50%;
                    width: 100%;
                    text-align: center;

                    &:first-child {
                        border-bottom: 1px solid var(--cinza-terciario);
                    }
                    i {
                        
                        top: calc(50% - 15px);
                        position: relative;
                    }
                }
            }
        }
        .course-actions {
            max-height: 0;
            overflow:hidden;
            background: #f5e8e8 0% 0% no-repeat padding-box;
            box-shadow: 0px 0px 3px #00000080;
            border-radius: 0 0 4px 4px;
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
                16px var(--unnamed-font-family-noto-sans);
            letter-spacing: var(--unnamed-character-spacing-0);
            text-align: left;
            font: normal normal normal 14px/16px Noto Sans;
            letter-spacing: 0px;
            color: #464646;
            margin: 1px 8px;
            padding-left: 15px;
            transition: max-height .3s ease-in-out;
            
            span {
                display: block;
                padding: 10px 10px 0px 0px;
            }span > a{
                margin-left: 8px;
                
            }
        }
        &.showActions .course-actions {
            max-height: 200px; /* Ajuste conforme necessário */
            span:last-child {
                padding-bottom: 15px;
            }
        }
        
    }

    .favorited{
        color:var(--verde-botao);
    }

    .seta {  
        transition: transform 0.3s ease-in-out !important;         
    }
    .seta-up {
        transform: rotate(180deg) !important;
    }

    .seta-down {
        transform: rotate(0deg) !important;
    }

    #disable-chevron{
        color: #7d848b;
    }

}

