#content-container .content .sidebar-modal .modal-content .modal-content-body #modal-content-body-filter {
    padding-top: 20px;

    .filter-search-bar {
        width: 100%;
        height: 35px;
        background: var(--branco-primario) 0% 0% no-repeat padding-box;
        border-radius: 18px;
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 0 16px;
        margin-bottom: 16px;

        .filter-search-input {
            width: 100%;
            height: 100%;
            background: none;
            border: none;
            padding-left: 16px;
            font: normal normal 600 14px/19px Noto Sans;
            letter-spacing: 0px;
            color: var(--escuro-primario);
            outline: none;
        }
    }

    .filter-select-area {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 100%;
        height: 35px;
        background: var(--branco-primario) 0% 0% no-repeat padding-box;
        border-radius: 18px;
        opacity: 1;
        color: var(--escuro-primario);
        margin-bottom: 16px;
        padding: 0 10px 0 16px;

        img, i {
            width: 16px;
            height: 16px;
            /* margin-right: 16px; */
            color: var(--escuro-primario) 0% 0% no-repeat padding-box;
            opacity: 1;
            margin-bottom: 3px;
        }

        .v-select {
            width: 100% !important;
        }
    }
}