#content-container .content .sidebar-modal .modal-content .modal-content-body #modal-content-body-help {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    .modal-content-body-help-link {
        text-decoration: none;
        font: var(--font-button2);
        color: var(--dark);
        text-align: left;
        padding: .5rem 1rem;
    }

    span {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-noto-sans);
        text-align: left;
        letter-spacing: 0.7px;
        color: #858585;
        text-transform: uppercase;
        opacity: 1;
        margin-top: 20px;
    }
}