#content-container .content .sidebar-modal .modal-content .modal-content-body #modal-content-body-profile {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: start;

    .ava-button-options, .painel-button-options {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        width: 100%;
        padding: 0 16px;
    }

    .ava-button-options {
        height: 200px;
        margin-top: 20px;
        margin-bottom: 20px;

        .ava-button-option {
            a {
                font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-noto-sans);
                letter-spacing: var(--unnamed-character-spacing-0);
                color: var(--escuro-primario);
                text-align: left;
                text-decoration: none;
            }
        }
    }

    .modal-content-body-profile-divider {
        width: 100%;
        height: 1px;
        background: var(--cinza-primario);
    }

    .painel-button-options {
        height: 100px;
        margin-top: 20px;

        .painel-button-option {
            a {
                font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-noto-sans);
                letter-spacing: var(--unnamed-character-spacing-0);
                color: var(--escuro-primario);
                text-align: left;
                text-decoration: none;
            }
        }
    }
}