#app {
    #content-container {
        margin-left: 255px;
        width: 100%;
        height: 100dvh;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        &.expanded {
            margin-left: 60px;
            transition: margin-left 0.3s, width 0.3s;
        }

        .topbar {
            background: var(--branco-primario);
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 8px;
            margin: 16px;
            padding: .75rem 1rem;
            display: flex;
            flex-direction: column;
            align-items: start;

            .nav-link {
                display: flex;
                align-items: center;
                font: normal normal bold 16px/22px Noto Sans;
                color: var(--verde-tema);
                margin-right: 1.5rem;
                cursor: pointer;
                padding: .25rem .75rem;
                border-radius: 1.5rem;

                &.active {
                    color: var(--general-white);
                    background-color: var(--primary);
                    &:hover {
                        color: var(--general-white);
                        background-color: var(--primary-dark);
                    }
                }
                &:hover {
                    color: var(--primary-dark);
                }
                .badge{
                    background-color: var(--secondary-light);
                    border-radius: 50%;
                    font: var(--font-heading5);
                    color: var(--secondary-dark);
                    margin-left: .5rem;
                    padding: 1px 6px;
                }
            }
        }

        .content {
            flex: 1;
            min-height: 0;
            display: flex;
            overflow: hidden;
            background-color: var(--branco-secundario);
            gap: 1rem;

            .sidebar-modal.open ~ .tab-content {
                padding-left: 0;
            }

            .sidebar-modal {
                height: 100%;
                overflow-x: hidden;
                width: 0;
                transition: width 0.2s ease-in;
                z-index: 50;
                height: 95%;
                background: var(--light-lighter);
                box-shadow: 3px 3px 6px #00000029;
                border-radius: 0px 16px 16px 0px;
                opacity: 1;
                display: flex;
                
                &.open {
                    width: 294px;
                }

                .modal-content {
                    min-width: 294px;
                    height: 100%;
                    padding: 1rem;
                    color: var(--dark);

                    .modal-content-header {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 1rem;

                        .modal-content-header-title {
                            display: flex;
                            flex-wrap: nowrap;
                            gap: .5rem;
                            align-items: center;
                              
                            span {
                                font: var(--font-heading2);
                                white-space: nowrap;
                            }
                        }

                        .modal-content-header-icon-x {
                            cursor: pointer;
                            color: var(--danger-dark);
                            width: 24px;
                            height: 24px;
                            background: var(--danger-light);
                            opacity: 1;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: all 0.2s ease-out;

                            &:hover {
                                background: var(--danger-dark);
                                color: var(--danger-light);
                            }

                        }

                        button {
                            border: none;
                            background: none;
                            cursor: pointer;
                        }

                        .modal-content-header-notifications, .modal-content-header-messages {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-left: 1rem;

                            .modal-content-header-notifications-icon, .modal-content-header-messages-icon {
                                color: var(--escuro-primario) 0% 0% no-repeat padding-box;
                                background: #EBEBEB 0% 0% no-repeat padding-box;
                                opacity: 1;
                                cursor: pointer;
                                width: 24px;
                                height: 24px;
                                border-radius: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-left: 5px;
                            }
                        }
                    }

                    .modal-content-header-messages {
                        .splide {
                            padding: 8px !important;

                            &__track {
                                overflow: visible !important;
                                padding: 8px 0 !important;
                            }
                    
                            &__list {
                                gap: 8px;
                                margin: 0 -8px;
                                align-items: center;
                            }
                            
                            &__slide {
                                /* Reset de estilos do Splide */
                                width: auto !important;
                                height: auto !important;
                                margin: 0 !important;
                            }
                        }

                        .modal-content-header-messages-search-bar {
                            width: 262px;
                            height: 35px;
                            background: #EBEBEB 0% 0% no-repeat padding-box;
                            border-radius: 18px;
                            opacity: 1;
                            display: flex;
                            align-items: center;
                            justify-content: start;
                            padding: 0 16px;
                            margin-bottom: 16px;

                            .modal-content-header-messages-search-input {
                                width: 100%;
                                height: 100%;
                                background: none;
                                border: none;
                                padding-left: 16px;
                                font: normal normal 600 14px/19px Noto Sans;
                                letter-spacing: 0px;
                                color: var(--escuro-primario);
                                outline: none;
                            }
                        }
                    
                        .modal-content-header-messages-option {
                            background: #CEFDEF;
                            padding: 8px 12px;
                            border-radius: 16px;
                            cursor: pointer;
                            transition: all 0.2s ease-out;
                            width: max-content;
                            list-style: none;
                            border: none;
                            font: normal normal 600 12px/17px Noto Sans;
                            color: var(--verde-tema);
                            letter-spacing: 0px;
                            
                            &.active {
                                background: var(--verde-tema) !important;
                                color: white !important;
                            }
                        }
                    }

                    .modal-content-body {
                        height: 100%;
                        border-top: 1px solid #CCCCCC;
                        padding-top: .5rem;
                    }
                }
            }

            .tab-content {
                flex: 1;
                display: flex;
                flex-direction: column;
                min-width: 0;
                padding-right: 1rem;

                .tab-pane {
                    flex: 1;
                    display: none;
                    flex-direction: column;
                    min-height: 0;
                    overflow: hidden;

                    .no-data {
                        display: flex;
                        justify-content: center;
                        align-items: start;
                        flex: 1;
                        font: normal normal 600 24px/22px Noto Sans;
                        /* color: var(--escuro-primario); */
                        color: var(--cinza-secundario);
                        letter-spacing: 0px;
                        opacity: 1;
                        margin-top: 30px;
                    }

                    &.active {
                        display: flex;
                    }

                    .card-container {
                        flex: 1;
                        min-height: 0;
                        overflow-y: auto;
                        padding: 5px;

                        .card-skeleton {
                            display: flex;
                            flex-direction: column;
                            background-color: #ffffff;
                            border-radius: 8px;
                            padding: 20px;
                            width: 100%;
                            box-shadow: 1px 1px 8px 0px rgba(20, 20, 20, 0.25);
                            border: 1px solid var(--light);
                            gap: 1rem;
                            margin-bottom: 1rem;
                        }

                        /* Estilos base para os elementos skeleton */
                        .title-skeleton,
                        .subtitle-skeleton,
                        .progress-bar-skeleton,
                        .progress-text-skeleton,
                        .badge-skeleton,
                        .icon-skeleton {
                            background-color: var(--light-dark);
                            border-radius: 4px;
                            animation: pulse 1s infinite ease-in-out;
                        }

                        .header-skeleton {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                        }

                        .title-skeleton {
                            height: 24px;
                            width: 60%;   
                        }

                        .subtitle-skeleton {
                            height: 18px;
                            width: 40%;
                        }

                        .footer-skeleton {
                            display: flex;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            gap: .5rem;
                        }

                        .progress-bar-skeleton-container {
                            display: flex;
                            align-items: center;
                            gap: 8px;
                        }

                        .progress-bar-skeleton {
                            height: 8px;
                            flex-grow: 1;
                            max-width: 187px;
                            width: 20vw;
                        }

                        .progress-text-skeleton {
                            height: 14px;
                            width: 50px; 
                        }

                        .itens-skeleton {
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            gap: 10px;
                        }

                        .badge-skeleton {
                            height: 24px;
                            width: 80px;  
                            border-radius: 14px;
                        }

                        .icon-skeleton {
                            height: 24px;
                            width: 24px;   
                            border-radius: 50%;
                        }

                        .card {
                            min-height: 100px;
                            max-height: 350px;
                            width: 100%;
                            max-width: 1360px;
                            margin-left: auto;
                            margin-right: auto;
                            margin-bottom: 1rem;
                            border: none;
                            transition: transform 0.2s;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            padding: 16px;
                            background: var(--branco-primario) 0% 0% no-repeat padding-box;
                            box-shadow: 1px 1px 8px 0px rgba(20, 20, 20, 0.25);
                            border: 1px solid var(--light);
                            border-radius: 8px;
                            opacity: 1;

                            &:hover {
                                transform: translateY(-2px);
                                box-shadow: 0 4px 12px rgba(0,0,0,0.1);
                            }

                            .painel-card-header-icon {
                                background-color: var(--verde-claro);
                                display: flex;
                                align-items: center;
                                width: fit-content;
                                margin-right: 8px;
                                padding: 4px 8px;
                                border-radius: 4px;

                                i {
                                    margin-right: 4px;
                                    color: #338F74;
                                }
                            }
                            
                            .painel-card-title {
                                font: var(--font-heading1);
                                color: var(--escuro-primario);
                                letter-spacing: 0px;
                                opacity: 1;
                                /* cursor: pointer; */
                                width: fit-content;
                                margin-bottom: 1rem;
                            }
                            .painel-card-header-env {
                                font-family: Noto Sans, Arial, sans-serif;
                            }
                            
                            .painel-card-header-shortname {
                                font:var(--font-button2);
                            }

                            .painel-card-details {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                gap: .5rem;
                                flex-wrap: wrap;

                                .painel-card-details-progress {
                                    display: flex;
                                    justify-content: start;
                                    align-items: center;
                                    gap: 8px;
                                    
                                    .painel-progress-bar-container {
                                        background: #E3E3E3 0% 0% no-repeat padding-box;
                                        border-radius: 50px;
                                        opacity: 1;
                                        height: 4px;
                                        max-width: 187px;
                                        width: 20vw;
                                        overflow: hidden;
                                        
                                        .painel-progress-bar {
                                            background: linear-gradient(270deg, #9F6EDE 0%, #633594 100%);
                                            border-radius: 50px;
                                            opacity: 1;
                                            height: 100%;
                                        }
                                    }
                                    span {
                                        font-family: Noto Sans, Arial, sans-serif;
                                        font-size: 12px;
                                        color: #7D848B;
                                    }
                                }

                                .painel-card-details-info {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    gap: .75rem;

                                    .painel-card-details-info-published, .painel-card-details-info-unpublished, .painel-card-info-icon {
                                        border-radius: 4px;
                                        opacity: 1;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        gap: 4px;
                                        padding: 4px;
                                        height: 24px;
                                        transition: all 0.2s ease-out;
                                        span {
                                            font: var(--font-heading6);
                                        }
                                        i {
                                            font-size: 12px;
                                        }
                                    }

                                    .painel-card-details-info-published, .painel-card-details-info-unpublished {
                                        cursor: pointer;
                                    }

                                    .painel-card-info-icon, .painel-card-details-info-published {
                                        background-color: var(--primary-light);
                                        color: var(--primary-dark);
                                    }

                                    .painel-card-details-info-published:hover {
                                        background-color: var(--primary-dark);
                                        color: var(--primary-light);
                                    }

                                    .painel-card-details-info-unpublished {
                                        background: var(--light);
                                        color: var(--dark);
                                        &:hover {
                                            background-color: var(--light-dark);
                                        }
                                    }

                                    .painel-card-details-info-favourite, .painel-card-details-info-unfavourite, .painel-card-details-info-chevron {
                                        width: 24px;
                                        height: 24px;
                                        background: var(--primary-light);
                                        opacity: 1;
                                        border-radius: 100%;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        cursor: pointer;
                                        transition: all 0.2s ease-out;
                                        color: var(--primary-dark);
                                        display: flex;

                                        i {
                                            font-size: 12px;
                                        }
                                        &:hover {
                                            color: var(--primary-light);
                                            background-color: var(--primary-dark);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        @media (max-width: 767.98px) {
            margin-left: 60px;

            .content .sidebar-modal {
                position: absolute;
                height: 85dvh;
            }

            .topbar {
                overflow: auto;

                .nav {
                    white-space: nowrap;
                    flex-wrap: nowrap;
                    -webkit-overflow-scrolling: touch !important;
                }
                .nav-link {
                    font-size: 14px;
                    flex-wrap: nowrap !important;
                    flex-shrink: 0;
                    min-width: fit-content;
                }
        
                .nav::-webkit-scrollbar {
                    display: none; 
                }
            }

            .content .tab-content {
                margin-left: 1rem;
                .tab-pane .card-container .card .painel-card-details {
                    flex-direction: column;
                    align-items: flex-start;
                    .painel-card-details-info {
                        gap: .5rem;
                    }
                    .painel-card-details-progress {
                        flex-flow: wrap-reverse;
                        width: 100%;
                        .painel-progress-bar-container {
                            flex: 1;
                        }
                    }
                }
            } 

            .painel-card-header-icon  {
                font: var(--font-heading6);
                color: #338F74;
            }
            .painel-card-header-shortname {
                font-size: 12px;
                min-width: 120px;
                text-wrap: wrap;
            }
            .painel-card-title {
                font: var(--font-heading2) !important;
            }

            .painel-card-details-info-published {
                i, span {
                    font-size: 10px !important;
                }
                
            }
            .painel-card-details-info-favourite,  .painel-card-details-info-chevron {
                font-size: 10px !important;
            }
        }

    }
}

.loading-block {
  align-items: center;
  background-color: rgba(0,0,0,0.5); 
  display: flex; 
  height: 100%; 
  justify-content: center; 
  position: absolute;
  width: 100%; 
  
  i {
    color: white;
    font-size: 28px;
  }
}