:root {
    --page-max-width: 1312px;
    /* Colors: */
    --vermelho-terciario: #ffbab2;
    --vermelho-primario: #dc030f;
    --vermelho-secundario: #a20a0a;
    --laranja-terciario: #ffd1be;
    --laranja-primario: #fd7941;
    --laranja-secundario: #d14507;
    --amarelo-terciario: #ffebca;
    --amarelo-primario: #fabd57;
    --amarelo-secundario: #ae8133;
    --verde-terciario: #d2f4b7;
    --verde-primario: #61c924;
    --verde-secundario: #347932;
    --verde-botao: #338f74;
    --azul-terciario: #b4d0f2;
    --azul-primario: #0f6cbf;
    --azul-secundario: #203d60;
    --roxo-secundario: #53296d;
    --roxo-primario: #a04ed0;
    --roxo-terciario: #ecdafa;
    --escuro-primario: #1d2125;
    --cinza-primario: #7d848b;
    --cinza-secundario: #54595e;
    --cinza-terciario: #dfdfdf;
    --branco-primario: #ffffff;
    --header-color: #363940;
    --background-color: #fafafa;

    /* Font/text values */
    --unnamed-font-family-noto-sans: "Noto Sans", sans-serif;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-600: 600px;
    --unnamed-font-weight-medium: medium;
    --unnamed-font-weight-bold: bold;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-size-12: 12px;
    --unnamed-font-size-14: 14px;
    --unnamed-font-size-16: 16px;
    --unnamed-font-size-24: 24px;
    --unnamed-font-size-40: 40px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-line-spacing-22: 22px;
}
