* {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: var(--unnamed-font-family-noto-sans);
    -moz-transition: all 100ms ease-in;
    -webkit-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}

body {
    background: #F8F8F8 0% 0% no-repeat padding-box;
    color: var(--escuro-primario) !important;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--unnamed-font-family-noto-sans);
    font-weight: 400;
    margin-bottom: 10px;
}
