#header-user {
    float: right;
    margin: 0 0 0 20px;

    a,
    a:hover,
    a:active {
        text-decoration: none !important;
        color: var(--escuro-primario);
        display: inline-block;
        text-align: left;
        font-size: 90%;
    }

    .btn-secondary {
        background-color: transparent;
        border-color: transparent;
        padding: 0 0 0 10px;
    }

    a:hover {
        text-decoration: underline;
    }
    img {
        margin: -6px 0 0;
        display: block;
        width: 46px;
        height: 52px;
    }

    #header-user-dropdown {
        height: 48px;
        width: 48px;
        border-radius: 50%;
        overflow: hidden;
        margin: 13px 0 0 0;
        padding: 0;
    }
    button {
        span {
            display: none;
        }
    }

    ul.dropdown-user {
        inset: 0px auto auto -38px;
    }

    ul.dropdown-menu.dropdown-user.show {
        padding: 0px;
        top: 1px !important;
        margin-left: -185px !important;
        transition: none;
        width: 260px;
    }

    button#dropdownMenuUser:after {
        bottom: 9px;
        right: 0px;
    }

    .btn-dropdown-user:after {
        font-size: 9px;
        text-decoration: none !important;
        cursor: pointer;
        background: var(--header-color) 0% 0% no-repeat padding-box;
        color: var(--branco-primario);
        border-radius: 50%;
        border: 3px solid #87666600;
        content: "\f078" !important;
        font-family: "FontAwesome";
        font-weight: bold;
        width: 20px;
        height: 20px;
        position: absolute;
        margin: -16px 0px 0px 8px;
    }
}
