#filters-title {
    font: var(--unnamed-font-style-normal) normal 600 20px / var(--unnamed-line-spacing-22)
        var(--unnamed-font-family-noto-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--escuro-primario);
    text-align: left;
}

#q {
    border: none;
    padding: 7px 0 7px 19px;
    width: calc(100% - 2px);
    margin: 0 1px;
}

.grid-item {
    margin-top: 5px;
    border-radius: 4px;
    border: 1px #dbdbdb solid;
}

.grid-item.item-1 {
    margin-top: unset;
    border: none;
}

button {
    font: var(--unnamed-font-style-normal) normal 600 var(--unnamed-font-size-14) / var(--unnamed-line-spacing-22)
        var(--unnamed-font-family-noto-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: center;
}

button.btn-success {
    background: #338f74 0% 0% no-repeat padding-box;
    border: 1px solid #338f74;
    border-radius: 4px;
    color: var(--branco-primario);
    width: calc(50% - 2px);
    
}

button.btn-outline-success {
    background: var(--branco-primario) 0% 0% no-repeat padding-box;
    border: 1px solid #338f74;
    border-radius: 4px;
    color: var(--escuro-primario);
    width: calc(50% - 2px);
    margin-right: 4px;
}

#buttonsFilters{
    margin-top: 15px;

}

.selectedFilters {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    div {
        // padding: 4px 12px;
        background-color: var(--verde-terciario);
        border-radius: 5px;
        font-weight: 600;
        color: var(--cinza-secundario);
        cursor: pointer;
    }
}
