#popupFilter{
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    position: fixed;
    z-index: 1001; 
    min-width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    #input-filter{
        display: none;
    }

    #situacao,#semestre,#disciplina,#curso,#ambiente {
        margin-bottom: 10px ;
    }
    .close{
        position:absolute;
        top: 0;
        right: 20px;
        font-size: 45px;
        line-height: 1;
        z-index: 2;
        cursor: pointer;
    }

    .buttonsFilters{
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
    } button{
        width: 48%;
        
    }

    #btnClearFilter{
        color: var(--escuro-primario);
        margin-right: 10px;
    }

    //Versão desktop em sidebar-dashboard_filters
    .selectedFilters {
        margin-top: 16px;
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
        div {
            padding: 4px 12px;
            background-color: var(--verde-terciario);
            border-radius: 5px;
            display: inline-block;
            font-weight: 600;
            color: var(--cinza-secundario);
            cursor: pointer;
        }
    }
}
