.select2-container--default .select2-selection--single {
    border-radius: 4px !important;
    width: 100%;
    height: 40px !important;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    //line-height: 35px;
    text-align: left;
    border: none !important;
    background-color: #ed1111;
    padding: 0.5em 0.5em;
    //background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100% !important;
}

#select2-ambiente-results .select2-results__option,
#select2-ambiente-results .select2-selection__rendered {
    margin: 0;
    padding: 6px;
  
}

#select2-ambiente_id-container {
    padding: 1px;
}

#select2-ambiente-results span,
#select2-ambiente-container span {
    margin: 0px;
    display: block;
    
}

.select2-container {
    width: 100% !important;
    padding: 0;
}

.closed span.select2-selection.select2-selection--single {
    //background: #dbdbdb !important;
}
.disabled-background{
    background-color: red;
}