{% extends "theme/ifrn23/layouts/diario/base.html" %}

{% block main_content %}
    <h1>Sincronizações do diário</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Em</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for solitacao in solicitacoes %}
            <tr>
                <td>{{ solitacao.timestamp }}</td>
                <td>{{ solitacao.status_merged }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Não houveram sincronizações</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock main_content %}
