{% extends "theme/ifrn23/layouts/base.html" %}

{% block page_menu %}
    {% include "theme/ifrn23/frontpage/partials/page_menu.html" %}
{% endblock page_menu %}

{% block sidebar %}
    {% include "theme/ifrn23/frontpage/partials/sidebar.html" %}
{% endblock sidebar %}

{% block main_content %}
    {% include "theme/ifrn23/frontpage/partials/main_content.html" %}
{% endblock main_content %}

{% block foot_custom %}
    {% include "theme/ifrn23/frontpage/partials/foot.html" %}
{% endblock foot_custom %}
