{% load static %}
<div id="course-list">
    <div class="tab-content courses">
        {% include "theme/ifrn23/frontpage/partials/main_content-course_lists.html" with list_name="diarios" extra_class="show active" list_alias="diários" list_genero="o" %}
        {% include "theme/ifrn23/frontpage/partials/main_content-course_lists.html" with list_name="coordenacoes" list_alias="salas das coordenações" list_genero="a" %}
        {% include "theme/ifrn23/frontpage/partials/main_content-course_lists.html" with list_name="praticas" list_alias="práticas" list_genero="a" %}
        {% include "theme/ifrn23/frontpage/partials/main_content-course_lists.html" with list_name="reutilizaveis" list_alias="reutilizáveis" list_genero="a" %}
    </div>
</div>
<div id="search-error" v-if="has_error">
    <h3>Ocorreu um erro.</h3>
    <p>Favor aguardar ao menos 5 minutos antes de atualizar a página.</p>
</div>

{% block search_loader %}
    <div id="search-loader" v-if="is_filtering">
        <p>Procurando seus cursos</p>
        {% include "theme/ifrn23/layouts/partials/mosaic-loader.html" %}
    </div>
{% endblock search_loader %}
