<nav id="page-menu">
        <div v-if="screenWidth > 767" class="nav nav-tabs" role="tablist">
                <button class="nav-link active"
                        id="nav-diarios-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#nav-diarios"
                        type="button"
                        role="tab"
                        aria-controls="nav-diarios"
                        aria-selected="true"
                        >Meus diários</button>
                <button class="nav-link"
                        id="nav-coordenacoes-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#nav-coordenacoes"
                        type="button"
                        role="tab"
                        aria-controls="nav-coordenacoes"
                        aria-selected="false"
                        >Coordenações</button>
                <!-- <button class="nav-link"
                        id="nav-praticas-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#nav-praticas"
                        type="button"
                        role="tab"
                        aria-controls="nav-praticas"
                        aria-selected="false"
                        v-if="praticas.length!=0"
                        @click="toggleBar('praticas')">Práticas</button>
                <button class="nav-link"
                        id="nav-reutilizaveis-tab"
                        data-bs-reutilizaveis="tab"
                        data-bs-target="#nav-reutilizaveis"
                        type="button"
                        role="tab"
                        aria-controls="nav-reutilizaveis"
                        aria-selected="false"
                        v-if="reutilizaveis.length!=0"
                        @click="toggleBar('reutilizaveis')">Reutilizar</button> -->
        </div>
        <div v-else>
                <select v-else @change="handleSelectChange">
                        <option value="diarios">Meus diários</option>
                        <option value="coordenacoes">Coordenações</option>
                </select>
                <div id="search-mobile" >
                        <form>
                                <input type="text" placeholder="Busque por nomes, códigos, #id..."
                                name="q"
                                id="q"
                                v-model="q"
                                @keydown.enter="filterCards($event)">
                                <button type="submit" id="btn-search" >
                                        <i class="icon icon-search" aria-hidden="true"></i>
                                </button>
                        </form>
                        <button id="btn-filter" @click="openPopup">
                                <div>
                                        <i class="icon icon-filtro" aria-hidden="true"></i>
                                        <span >Filtros</span>
                                </div>

                        </button>

                        <!-- div para aplicar o backdrop-filter -->
                        <div @click="closePopup" class="divBackdop-filter"></div>

                        <div v-if="isPopupOpen" id="popupFilter"  >
                                <span @click="closePopup" class="close">&times;</span>
                                {% include "theme/ifrn23/frontpage/partials/sidebar-filters.html" %}
                        </div>

                </div>
        </div>


</nav>
<!-- <div id="menu-separator"></div> -->
