{% load static %}
<ul class="navmenu" id="menu">
    <div class="align-content-center">
        <li class="block-content d-none margin-top-36 margin-top-0">
            <a href="#"><i class="fa fa-filter icon-filter-color"></i> <span class="collapse in hidden-xs"></span></a>
        </li>
        <li class="block-content d-none margin-top-36 margin-top-0 margin-bottom-hr">
            <hr class="navmenu-hr" />
        </li>
    </div>
    {% include "theme/ifrn23/frontpage/partials/sidebar-filters.html" %}
</ul>
