{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
{% include 'theme/ifrn25/frontpage/partials/head.html' %}

<body class="
    {% if user.remove_justify %} remove_justify{% endif %}
    {% if user.highlight_links %} highlight_links{% endif %}
    {% if user.stop_animations %} stop_animations{% endif %}
    {% if user.hidden_illustrative_image %} hidden_illustrative_image{% endif %}
    {% if user.big_cursor %} big_cursor{% endif %}
    {% if user.vlibras_active %} vlibras_active{% endif %}
    {% if user.dyslexia_friendly %} dyslexia_friendly{% endif %}
    {% if user.high_line_height %} high_line_height{% endif %}
    color-mode-{{ user.color_mode|default:'default' }}
" data-zoom="{{ user.zoom_level }}">
    <script>
        window.INITIAL_SETTINGS = {
            menuPosition: "{{ request.user.menu_position }}"
        };
    </script>
    <div id="app" class="{% if request.user.menu_position == 'bottom' %}menu-bottom{% endif %}">
        {% include 'theme/ifrn25/frontpage/partials/sidebar.html' %}
        {% include 'theme/ifrn25/frontpage/partials/content.html' %}
        <div @click="closeSidebarAndModal" class="mobile-backdrop" :class="{
                'open': modalOpen,
                'contracted': sidebarContracted
            }">
        </div>
    </div>
    {% include 'theme/ifrn25/frontpage/partials/foot.html' %}
    <script>
        // Caso o Vue ainda não tenha montado, já aplica a classe correta
        document.addEventListener("DOMContentLoaded", () => {
            const menuPosition = window.INITIAL_SETTINGS?.menuPosition || "top";
            const app = document.getElementById('app');
            if (menuPosition === "bottom") {
                app.classList.add("menu-bottom");
            } else {
                app.classList.remove("menu-bottom");
            }
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>

</html>
