{% load static %}
<div
    class="tab-pane fade {{ extra_class }}"
    id="nav-{{ list_name }}"
    aria-labelledby="nav-{{ list_name }}-tab"
    role="tabpanel"
>
    <div id="course-views">
        <div class="course-list" v-if="!is_filtering">
            <div v-show="{{ list_name }}.length == 0" class="empty-search">
                <h3>Atenção!</h3>
                <p>
                    Não existem <strong>{{ list_alias }}</strong> que atendam ao <b>filtro informado</b>. Para mostrar
                    tudo limpe os filtros clicando no botão "Ver tod{{list_genero}}s {{ list_alias }}".
                </p>
                <p>
                    <button type="button" class="btn btn-success button-center" v-on:click="clearFilterSeeAll()">
                        Ver tod{{list_genero}}s {{ list_alias }}
                    </button>
                </p>
                <p>
                    É possível que a Secretaria Acadêmica ainda não tenha lhe inserido em diário algum, neste caso, por
                    favor aguarde.
                </p>
            </div>
            <div v-for="card in {{ list_name }}" class="course-listitem">
                <div class="course-body">
                    <div class="course-info">
                        <div class="course-identification">
                            <label :style="{ background: card.ambiente.cor_mestra }"
                                ><i  class="icon icon-moodle"></i
                            ></label>
                            <span v-if="card.turma">
                                <span class="course-turma">[[ card.turma ]]</span>
                                <span class="course-componente">[[ card.componente ]]</span>
                                <span v-if="screenWidth > 767"class="course-id_diario">[[ card.id_diario ]]</span>
                            </span>
                            <span v-else class="course-shortname">[[ card.shortname ]]</span>
                        </div>
                        <div class="course-disciplina"><a v-bind:href="[[ card.viewurl ]]">[[ card.fullname ]]</a></div>
                        <div class="course-curso" v-if="card.curso && screenWidth > 767">[[ card.curso.nome ]]</div>
                        <div class="course-progressbar" v-if="card.showcompletionconditions">
                            <div><span :style="{ width: card.progress + '%'}"></span></div>
                            <div>[[card.progress]]% concluído</div>
                        </div>
                    </div>
                    <div class="course-quickactions">
                        <label
                            v-if="card.isfavourite"
                            v-on:click="favourite(card)"

                            type="button"
                            title="Favoritar este diário para mim"
                            :class="{ 'favorited': card.isfavourite}"
                            ><i class="fa fa-star"></i
                        ></label>
                        <label
                            v-if="!card.isfavourite"
                            v-on:click="favourite(card)"
                            type="button"
                            title="Desfavoritar este diário para mim"
                            ><i class="fa fa-star-o"></i
                        ></label>
                        <label v-if="card.idnumber && card.id_diario" v-on:click.capture="cardActionsToggler" type="button" title="Mais opções"
                        
                            ><i  class="icon icon-chevron-down "></i>
                        </label>
                        <label v-else id="disable-chevron" type="button" title="Sem mais opções"
                        
                            ><i  class="icon icon-chevron-down "></i>
                        </label>

                    </div>
                </div>
                <div  class="course-actions">
                    <span v-if="card.suapsurl">
                        <i class='icon icon-suap-vazado'></i><a v-bind:href="[[ card.suapsurl ]]">Ver diario no SUAP</a>
                    </span>
                    <span v-if="card.mensagemurl">
                        <i class='icon icon-mensagem-suap'></i><a v-bind:href="[[ card.mensagemurl ]]">Enviar mensagem via SUAP</a>
                    </span>
                    <span v-if="card.coordenacaourl">
                        <i class='icon icon-table'></i><a v-bind:href="[[ card.coordenacaourl ]]">Ver sala de coordenação no AVA</a>
                    </span>
                    <span v-if="card.gradesurl">
                        <i class='icon icon-table'></i><a v-bind:href="[[ card.gradesurl ]]">Ver quadro de notas no AVA</a>
                    </span>
                    <span v-if="card.checkgradesurl">
                        <i class='icon icon-preview-notas'></i><a v-bind:href="[[ card.checkgradesurl ]]">Visualizar prévia das notas</a>
                    </span>
                    <!--
                    <span v-if="card.syncsurl">
                        <i class='icon icon-historico-integracoes'></i><a v-bind:href="[[ card.syncsurl ]]">Visualizar histórico de integrações</a>
                    </span>
                    -->
                </div>
            </div>
        </div>
    </div> 
</div>
